[2019-12-17 00:31] shirishag75 commented on #248
so this is just memory issue or is it hdd issue as well . One of the things that I noticed was I had only 40 MB as HDD space. Could that have contributed to the problem as well ?

[2019-12-17 00:40] shirishag75 opened #249 "why isn't the commander.profile picked up when loading a previous game"
While in ~/.mars-sim/saved/ I see commander.profile it seems the commander.profile isn't picked up when I start load a saved game.  It seems it would make a new game as I tried to trick it by compiling the game for r5227 and then cheated the system by saying load the saved game even though there is nothing I played with the new version. It somehow makes a new game and doesn't even take the command

[2019-12-17 00:51] shirishag75 commented on #243
This is the list of the new pompeii residents -

![new-pompeii-residents](https://user-images.githubusercontent.com/727626/70954726-44212f80-2066-11ea-8f42-99553ab619a3.png)

Seems Neil Raje is the commander of New Pompeii.

I also find it strange that commander.profile doesn't seem to be a format which can be viewed by featherpad which is a QT5 plain-text editor but doing cat on the file gets it.

[2019-12-17 00:53] shirishag75 commented on #243
It's intersting when you ask for people or even job roster it doesn't tell you who the commander, sub-commander etc. are . That probably is also something that might be needed to looked at :(

[2019-12-17 00:53] mokun commented on #249
If you start a new sim, you can load the `commander.profile` by selecting "3. Load commander profile"
in the `Crew Selection` menu as follows :

[code]

[2019-12-17 00:55] shirishag75 opened #250 "default.sim and previous.sim and where they are should be in FAQ"
.There is no information about either default.sim and/or previous.sim. Details such what the files contain, where they can be found etc. should be in the FAQ. Also what happens if you delete previous.sim ? None of this is shared in the FAQ unfortunately or anywhere else I looked :(

[2019-12-17 00:56] mokun commented on #249
If you want to load a saved sim that has your assigned commander on it, it's even easier.

There's no need to load the `commander.profile` at all.

The Person instance of the commander is already inside 'UnitManger' class.

Each simulation session must have an UnitManager instance.

So, just load that saved sim and you'll see the commander in the settlement.

[2019-12-17 01:04] mokun commented on #249
See my snapshot below :

![image](https://user-images.githubusercontent.com/1168584/70955519-0997a280-2026-11ea-99c7-ec05adf1b9dc.png)

[2019-12-17 01:48] shirishag75 commented on #249
The problem is how do you know if the default.sim has your commander.profile or not. The best way I guess to do it is to go to ~/.mars-sim/saved remove all the .sim and the commander.profile, make a new game, have the commander profile made in the game and then save it. That probably is the only way to make sure the game would have the commander in it. Will try that and let you know.

[2019-12-17 02:12] shirishag75 commented on #75
Can somebody give an update on how the json serialization bit is coming along ? I looked at all of the history, and it seems this has been something which has been overlooked quite a bit. Maybe opening this up would also it easier for some of the other problems that we see more clearly as well. Looking forward to see what we can come up with. I am

One thing which I noticed is @Urwumpe statement t

[2019-12-17 02:13] mokun commented on #249
I can see why it confuses you.

The `default.sim` file itself CANNOT have `commander.profile`. The two files are **independent* from each other.

`commander.profile` can ONLY be loaded from the beryx console when starting a **brand new* sim.

It will NEVER be used by `default.sim` at all.

There is no need to remove the `default.sim` .

There can be **one and only one** `default.sim` in your '~/.m

[2019-12-17 02:18] mokun commented on #248
Do you mean you have only 40 MB left on your hard drive ?

If that's the case, let's deleting all the old autosave sim in the /autosave/ folder.

[2019-12-17 02:18] mokun commented on #248
No. the heap space is strictly RAM.

[2019-12-17 02:20] shirishag75 opened #251 "having a form to populate crew.xml; add beta_crew.xml"
It would be nice if instead of having to write xml by hand it might be good to have a form which helps in completing crew.xml. This is a feature request, maybe something you can look at in few days. For e.g. I would be happy with a form which says something like -

a. Which country ?
b. Number of people in crewl.xml (number )
c. Number of people of each gender (male, female, even transgender perha

[2019-12-17 02:29] mokun commented on #249
I'm adding the option to do a "Save As" via beryx console.

[2019-12-17 03:26] mokun commented on #249
A JFileChooser box will pop asking you to type in a new filename as follows :

![image](https://user-images.githubusercontent.com/1168584/70962391-eaa30b80-2039-11ea-9b94-2183dddd8b75.png)

[2019-12-17 03:34] mokun commented on #243
commander.profile is just a text file and can be viewed by any editor. The contents are as follows :

[code]

It's what's called "Property File" often found to be used in Java.

see https://www.codingeek.com/java/read-and-write-properties-file-in-java-examples/

It stores a set of key-value pairs.

So `commander.age` is the key and `30` is the value of this key-value pair.

It's very simplistic an

[2019-12-17 03:38] mokun commented on #243
That's because in mars-sim, the `Job` of a person has nothing to do with `Role`

We have wikis written up on both topics.

The person who took up the [role](https://github.com/mars-sim/mars-sim/wiki/Role) of being a  commander still have his own job. He can have anyone of the 16 jobs, based on the result of the [Job Prospect](https://github.com/mars-sim/mars-sim/wiki/Jobs) score calculation.

[2019-12-17 03:42] mokun commented on #243
The thing is that `commander.profile` is just a user-generated file.

It was created in your own home folder.

It's never need to be uploaded to mars-sim repo in Github.

[2019-12-17 03:51] mokun commented on #243
Since you don't like the name or extension of this file, I just change it to `commander.txt` to avoid any confusion.

[2019-12-17 03:58] mokun commented on #75
They are NOT a part of any saved sims at all.

They are [config files](https://github.com/mars-sim/mars-sim/wiki/Configuring-XML-Files) and provide attributes or values that set up the initial conditions of a settlement.

At the beginning of a sim (whether it is starting a brand new sim, or loading from a new sim), the values contained in these xml files will be *read* into the RAM.

[2019-12-17 04:05] mokun commented on #75
We've been trying to make mars-sim more stable and been getting rid of a lot of NPE, etc.

It's quite a bit of work to switch over to JSON serialization.

@Urwumpe ,
Can you help setting up an example of using Jackson to serialize a Equipment or a Vehicle instance, etc. ?

[2019-12-17 04:16] mokun commented on #247
Each time a mission plan is under review, you will see it in the stack trace.

You've probably seen it hundreds of time.

Everyone in that settlement will look at the mission plan and score it.

Each review will comprise

See https://github.com/mars-sim/mars-sim/wiki/Missions

[code]

[2019-12-17 04:25] mokun commented on #250
`previous.sim` is just the previous backup of the default.sim, as the name suggested. See https://github.com/mars-sim/mars-sim/issues/125

Would you like to help writing a wiki page regarding the `default.sim` and/or `previous.sim` and `commander.txt` ? Appreciate ! You can look through existing wiki pages to get an idea of it.

[2019-12-17 04:31] mokun commented on #250
btw, the [setup.md](https://github.com/mars-sim/mars-sim/blob/master/setup.md) does describe what `default.sim` is. But it's still good to mention it in a wiki page in future.

[2019-12-17 04:40] mokun commented on #247
[code]

[2019-12-17 04:45] mokun commented on #247
ALL MISSIONS needs approved, namely passing the minimum score.

The minimum score is not static. It goes up or down according to the last approved mission plan.

We discuss about refining how a mission plan should be put together and scored a few times.

We also have a project setup. See https://github.com/mars-sim/mars-sim/projects/12

[2019-12-17 06:06] shirishag75 commented on #248
I did that, it did make a difference but not a lot.

[2019-12-17 06:17] shirishag75 commented on #247
FWIW, https://github.com/mars-sim/mars-sim/projects/12 doesn't get me anywhere as https://github.com/mars-sim/mars-sim/projects does as it tells me what the 12th project is. I don't really know how github projects function . I am guessing it is some sort of discussion and taking steps place but till we know more about it, I dunno how much to use it. What one thing can be done is that each of the p

[2019-12-17 06:23] shirishag75 commented on #243
It wasn't me who didn't like it , it was github which didn't like it. But then github doesn't even like .json files , see the barely amount of files you can upload here. Github really needs to improve it game :(

[2019-12-17 06:35] shirishag75 commented on #249
nice, this makes more sense, thank you :)

[2019-12-17 11:32] shirishag75 opened #252 "getting a java.lang.nullpointerexception with build 5230"
I got the following -

[code]

Can you fix it, please.

[2019-12-17 16:40] mokun commented on #252
This is the same issue as https://github.com/mars-sim/mars-sim/issues/246

[2019-12-17 16:45] mokun commented on #252
Can you describe how *often* you get this ? Is it everytime or just sometimes you are getting this NPE ?

We need to pin down under what circumstances it pops up and stops you from starting a new simulation.

Can you also post the few lines above that ? It will tell me what Java version you are running.

I'm hoping to duplicate the initial setup on my machine so that I can see it.

Thanks!

[2019-12-17 16:49] mokun commented on #252
In my machine, I have no issues starting a new sim in headless mode :

![image](https://user-images.githubusercontent.com/1168584/71016422-faf2cf00-20a9-11ea-9e54-59a3d04a0269.png)

[2019-12-17 16:56] shirishag75 commented on #252
This is at my end -

[code]

[2019-12-17 17:01] shirishag75 commented on #252
java is -

[code]

[2019-12-17 17:02] mokun commented on #252
Can you switch back to Java 12 to see if it goes away ?

[2019-12-17 17:03] mokun commented on #252
Q1 : Can you describe how often you get this ?

Q2: Is it everytime or just sometimes you are getting this NPE ?

Q3: exactly at what point you see this ? Was it before or after the beryx console come up and you choose "1. Start a new Sim" at the first screen of the Main Menu ? OR on the 2nd or 3rd menu ?

[2019-12-17 17:17] shirishag75 commented on #252
java 12 is not there in debian archive anymore. What we have is openjdk13 but this will mean I will have to purge openjdk-14 and get openjdk-13 . Let's see if that is anything better or good on the system. If you look at it, the time for free updates for openjdk12 was over in September 2019 itself. It is now either openjdk-11 or openjdk-13 which will have a short shelf life of only 3 months

[2019-12-17 21:22] mokun commented on #243
Yes we use .gitIgnore to remove a lot of platform-specific or IDE-specific config files from being sent upstream.

e.g. we don't want any intelliJ or Eclipse config files in our repo.

Besides, commander.txt is not even one of those *required* config file like building.xml or settlements.xml for initializing the core engine.

Anyway, let's close this thread now unless you found any anomaly. Apprec

[2019-12-17 21:35] shirishag75 commented on #252
This happened again, this time with openjdk-13 -

[code]

Openjdk-13 and build 5235

[2019-12-17 21:38] shirishag75 commented on #252
I just shared the re-ocurrence now again. This is happening at when I'm trying to start the simulation itself. One thing to note is that there is no default.sim nor previous.sim . I rm -rf it, dunno if that made the difference or not. Although it shouldn't but perhaps it did.

[2019-12-17 22:11] #243 closed

[2019-12-18 00:18] shirishag75 commented on #252
This seems to have been fixed by r5237 .

[2019-12-18 00:18] #252 closed

[2019-12-18 00:23] shirishag75 opened #253 "saving and loading unique.sim, heap memory needed for saving a sim"
Just like we have saving for unique saving sims, is there a way to tell the game to load unique named *.sim . For e.g.

[code]
I am also not sure when it saves game again after half an hour or whatever the savegame interval is, whether it would save to commander-is-in.sim game or something else.  Also at times, I got this  not sure why

[code]

[2019-12-18 00:25] shirishag75 opened #254 "which base inventory is being talked about ?"
See the following -

[code]

From this it isn't possible to know which base's inventory are we  talking here. New Pompeii or some other base.

Sharing the log so it makes more sense.

[mars_simu_0.log](https://github.com/mars-sim/mars-sim/files/3976073/mars_simu_0.log)

[2019-12-18 00:33] shirishag75 commented on #243
I have to reopen it again because somehow the commander-profile doesn't seem to be stuck. I dunno what you are using but it doesn't work at my end -

![mars-sim-menu-load-save-game](https://user-images.githubusercontent.com/727626/71045682-c9bbe280-212d-11ea-925c-71a088c4afb7.png)

I am going to send you both commander-in-profile.sim and the new default.sim that it generated so you can view the re

[2019-12-18 01:52] mokun commented on #253
We need about ~110 MB RAM for LZMA2 encoder and decoder to work.

At that moment, there's only 1.92 MB RAM set aside as free heap space.

So, I program it to respond with that message.

In `Simulation` class, you'll see
[code]

After 3 seconds, the heapFreeSize could free up some more. If it's more than 128MB, it will serialize all the data successfully.

It will attempt to check on the heapFreeSi

[2019-12-18 02:19] mokun commented on #253
Yes, I just modify `MarsProjectHeadless` class to act like `MarsProject` class so that when you choose "2. Load from a saved sim", a JFileChooser will pop up and let you select whatever sim file you have in mind to load.

![image](https://user-images.githubusercontent.com/1168584/71050238-834c9080-20f9-11ea-8acc-66571f337e65.png)

Will commit soon

[2019-12-18 02:43] mokun commented on #254
After the last build, the log will provide the ownership info from now on.

The real issue lies on how the `Inventory` class has been setup in response to being asked to retrieve something.

There is a difference between retrieving something directly from a person vs. retrieving something from a bag (that holds the regolith) that's a property of a person.

[2019-12-18 06:57] shirishag75 commented on #254
share with me a log statement so I know the difference please.

[2019-12-18 07:00] shirishag75 opened #255 "what do the numbers mean on the dashboard ?"
What do the numbers mean on the dashboard, I tried to see if there was an entry about the dashboard and the numbers on the wiki but didn't find anything which jumped out at me -

![commander-dashboard](https://user-images.githubusercontent.com/727626/71063180-20441380-2164-11ea-87d4-3020e431acd4.png)

[2019-12-18 07:04] shirishag75 opened #256 "I didn't find any info. on skills on the keywords, is that a thing yet ?"
I was connected to a settlement but didn't find anything about skills or how good or bad people are about the jobs. How do I find about it in the console ?

[2019-12-18 07:07] shirishag75 opened #257 "automated saving doesn't save on unique sims or anywhere."
With unique sims, while I do get messages about saving but don't get anything about where they are saved.

[code]

AFAIR, the game saves every 30 minutes or so and if you look at the clock it hasn't saved yet after the time I saved it manually.

[2019-12-18 08:42] shirishag75 opened #258 "Why is Nathan Roberts unable to get into the rover"
[mars_simu_0.log](https://github.com/mars-sim/mars-sim/files/3977419/mars_simu_0.log)

`00-Adir-03:543.819 (Severe) RoverMission : [Princess of the Sands] Nathan Roberts was unable to enter rover Princess of the Sands
`This is in my log and I have no clue or idea about 2 things -

a. Which camp does Nathan belong to ? I wish there was a way to query people at the very top when you connect to MarsN

[2019-12-18 09:01] shirishag75 opened #259 "why is lucy o'brien or even Amelia Smith are looked for repairs when they are doing other jobs ?"
See the task roster and still I am getting messages that she is supposed to fix repair the air leak or was going to.

![task-roster-new-plymouth](https://user-images.githubusercontent.com/727626/71071568-c9930580-2174-11ea-9da8-996f37f153dc.png)
[mars_simu_0.log](https://github.com/mars-sim/mars-sim/files/3977478/mars_simu_0.log)

Maybe both of this is enough for you to make sense of what is going

[2019-12-18 18:32] mokun commented on #251
That's why the `Crew Editor` has been created for giving you a graphical interface to change the attributes of each member of the Alpha Crew.

Since it's an on-going effort of giving players the ability to customize crew members, as of now, players will need the Swing Edition (NOT Console Edition) use the `Crew Editor`

It is accessible via the `Site Editor` by Clicking the `Edit Crew` button.

![

[2019-12-18 18:44] mokun commented on #255
The design concept for these `level of effort` are still up in the air.

The highest the effort level, more time and resources will be poured into a particular area.

We have a few round of discussions with @Urwumpe in some past threads regarding the prioritization of resources and objective of a settlement.

In near future, we can refine how these level concretely impact the operations of a settl

[2019-12-18 18:52] shirishag75 commented on #251
I am looking for a solution which is slightly more automated for the console edition. It just asks me a bunch of questions and then prepares/makes a crew based on my choices. That would make it whole lot easier.

[2019-12-18 18:55] mokun commented on #257
There are 3 save modes
1. `SAVE` (by default)
2. `SAVE_AS` (choose your own filename
3. `AUTOSAVE`

`SAVE` (by default) will save the sim into `~/.mars-sim/saved/` folder only.

When choosing to do `SAVE_AS`, player can choose whichever folder to save the sim

`AUTOSAVE` will save the simulation session into `~/.mars-sim//autosave/`

[2019-12-18 18:56] shirishag75 commented on #255
I am ok with either way. Why I bought it to notice is that currently that the numbers by themselves make no sense or don't indicate what woud change if I change the numbers and how would that effect either the work or even people's mood. For e.g. if a commander gives more credit to safety works and repair works it should help allievate people's moods and propensity to work but that's a different t

[2019-12-18 19:17] mokun commented on #258
Good catch !

I plow through the code and discover that the branching condition of boarding a rover in performEmbarkFromSettlementPhase() in RoverMission is bad. Will fix it soon.

In general, this log statement signifies running into some sort of pathfinding (https://en.wikipedia.org/wiki/Pathfinding) issues.

So we want the stack trace to report to the developer whenever a person fails to find a

[2019-12-18 19:52] mokun commented on #255
For development objective, we have this [wiki](https://github.com/mars-sim/mars-sim/wiki/Settlement-Objective). https://github.com/mars-sim/mars-sim/issues/121,

See also *15. Settlement Development and Achievement
* in https://github.com/mars-sim/mars-sim/projects

@shirishag75, please help us link up various discussions and wikis for each project.

[2019-12-18 20:49] shirishag75 opened #260 "Have a single base scenario, CLI to define a settlement"
@mokun I guess we have talked about it earlier. More and more I think, I find the single  base scenario an interesting idea and something which can help us work out chinks in the system.  Let me elaborate the idea a bit more. @Urwumpe and @larsnaesbye maybe you both can chime in as well.

a. The single base scenario is when you are arriving first to mars and have a single base. with either some pr

[2019-12-18 21:23] mokun commented on #256
It's there already.

Type "skill" on a person and you'll see it.

I'm fixing the units of labor time accumulated on each skill

[2019-12-18 21:30] mokun commented on #256
[code]

[2019-12-18 21:36] mokun commented on #259
Do you know there are 3 different types of repair ?

Some malfunctions have all 3 types. Some having just 1 or 2 types.

See previous discussions at https://github.com/mars-sim/mars-sim/issues/194 and https://github.com/mars-sim/mars-sim/issues/177

I believe the core engine currently pick one chief repair for each type. But it's possible that anyone who has reasonably good *mechanical* skill shou

[2019-12-18 21:59] shirishag75 commented on #255
I am open to help but would like to narrow the scope of things a little so that chaos is contained. See #260 for what I propose. You can use the savegame, the only thing is all the other bases would have 0 or null as their answer in the default.sim or whatever unique name the .sim has.

[2019-12-18 22:03] shirishag75 commented on #177
I wouldn't bet againt that. NASA would have their own share of bean-counters and people who love stats. Whether they chose to disclose those stats. or not may be a different thing altogether. In fact, such record-keeping I would believe would be mandatory as it is stil relatively early days of space travel. Once it is routinized to a much larger extent than there may be laxatiy but not today.

[2019-12-18 22:05] mokun commented on #259
[code]

Just made a change to tweak how these repetitive log statement should show up .

Let's see how well it work. We may discuss more on how to model the repair or how to bring more realism to the simulation.

[2019-12-18 23:59] mokun commented on #260
We already have the settlement templates specifically designed to house a standard set of features and for hosting x number of colonists.

Create a settlement using Phase 1 (or 1A, 1B, 1C, 1D) template will get you started with a base furnished for 4 persons.

Create a settlement using Phase 2 (or 2A, 2B, 2C, 2D) template will get you started with a base furnished for 8 persons.

Select a Phase 3

[2019-12-19 00:01] mokun commented on #260
Yes we can discuss more on putting together a **Scenario Mode**, where the objectives will be very specific.

As you know, in **Sandbox Mode**, it's up to the player what he/she wants to achieve.

[2019-12-19 00:14] Urwumpe commented on #260
I like the idea, could we maybe combine  this with #152  ?

[2019-12-19 00:14] mokun commented on #260
For beds/quarters availability,
A `Lander Hab` building always have 4 preconfigured beds as follows from `buildings.xml`.
[code]
On the other hand, a `Residential Hab` has 5 beds. A `Residential Quarters` has 12 beds.

For medical beds,
Each `Lander Hab` building is furnished with 1 medical bed.
A `Medical Hab` has 4 medical beds.
A `Infirmary` building has 8 medical beds.

and so on.

[2019-12-19 01:15] shirishag75 opened #261 "Can't operate a vehicle java.null.pointer exception in build r5242, OperateVehicle task, iterate through settlement map"
Got the following java.lang.nullpointerexception, have no idea what triggered it though -

[code]

[2019-12-19 01:20] shirishag75 commented on #260
I meant do we have skills to make beds by people, buildings, making machinery etc. Is that all in place ?

I did try the sandbox mode, I didn't see anything interesting or anything unique at least in the console mode. Maybe that's something that needs to be coded in as well ?

[2019-12-19 17:13] Urwumpe commented on #177
That they counted it and wrote a memo about it is sadly no reason that it exists in public. Especially the bookkeeping for the STS was VERY creative to conceal the true costs of each flight.

[2019-12-19 19:31] mokun commented on #260
Yes I agree. It's like what it takes to settle in.

Up to v3.07, there is no *assigned* bed/quarters for each settler. Whoever can find an empty/unoccupied bed at the moment will use that bed.

Since 3.1.0, we added a bed registration step and each should have his/her own bed assigned-

`Note: there might still be some walking bug that cause people to seeminingly fall asleep in hallway. Let me kno

[2019-12-19 19:49] mokun commented on #260
Yes, conceivably they are very important and of the highest order.

So for the player commander, we want to find a way for him/her to make important decision on the **priority** of each of these *operations*.

For instance, how the environmental control work right now in mars-sim are in terms of a list of BUILDING FUNCTION(s) such as LIFE_SUPPORT and RESOURCE_PROCESSING

In case of RESOURCE_PROCES

[2019-12-19 20:01] mokun commented on #260
Since v3.07, we added bots. For now, we only let bots to stay indoor.

Yes they can carry things and do certain repetitive `Task` but they cannot join `Mission`.

At one thread or two, we were talking about doing a power modeling over charging and discharging the battery on a Robot. We haven't done it yet.

When it comes to mining the minerals on a `Mining` Mission, the settlers would need to depl

[2019-12-19 20:51] mokun commented on #177
It's hard to budget the program costs when it comes to huge program like STS.

If they build more Space Shuttle, the cost for each would come down.

One question is did they have the technology know-how in that era to make Space Shuttle fully reusable ?

Or is it just the thermal protection system using heat tile is never a good idea to begin with.

I've heard that the cost of installing heat tile

[2019-12-19 21:03] shirishag75 commented on #177
Is just having the technological know-how is enough ?  If you look at the movie 'Martian' you see people at NASA just trying to cover their ass. In fact, if it was real life than Matt Damon for all purposes would have been forgotten and killed. From what little I have seen, whether it is ISRO or NASA they are all beaureacracies and decisions are often made based on politics and penny-pinching rath

[2019-12-20 04:05] mokun commented on #260
Let's make it happen !

[2019-12-20 19:05] mokun commented on #261
[code]

The `mobilizeVehicle()` method in `OperateVehicle` class had been streamlined.

It should avoid the NPE above.

@Urwumpe,

I was gonna say that for some strange reason, `unitManager.getSettlements()` would return null  from time to time (but not all the time) inside `isSettlementDestination()` at `OperateVehicle`.

It could be a threading issue.

I've since changed how it works in build 52

[2019-12-21 05:48] shirishag75 commented on #260
@mokun Just saw you made some commits. Let me know when you have done fully. How to invoke it and then we will go about seeing what works and what doesn't ;)

[2019-12-21 08:19] mokun commented on #260
Sure. Just try it. The commit message includes enough info for testing it. Can you see it?

[2019-12-21 09:56] shirishag75 opened #262 "java.lang.NullPointer exception in r5247"
Got the following issue/error at my end -

[code]

[2019-12-21 09:57] shirishag75 commented on #260
Saw it, tried it and got #262 , please fix it or tell me where I went wrong.

[2019-12-21 19:53] mokun commented on #262
Can you run it multiple times ?

If it only happens sometimes, then we know it's a threading issue.

I'll need to put all the UI building tasks on Swing's EDT to avoid that.

For now it sounds like a threading issue.

[2019-12-21 20:39] shirishag75 commented on #262
It happens once, the next time I run it, it doesn't. The third time it happens again, the fourth time it doesn't.

[2019-12-21 20:42] shirishag75 commented on #260
@mokun I was able to launch the game with the new `-template:1A -country:India -sponsor:ISRO`but I didn't see anything difference as of yet in the console/headless mode. I again was made the commander of new pompeii and all the other settlements were therein. This was supposed to be a single settlement scenario or there is still bits that needs to be coded in ?

[2019-12-23 13:54] shirishag75 commented on #262
Even with this I got -

[code]

[2019-12-23 13:56] shirishag75 commented on #262
the game starts but doesn't ask me to set anything or do anything in the command-mode or anything.

[code]

[2019-12-24 19:41] mokun commented on #262
What do you want it to ask you ?

[2019-12-24 19:43] mokun commented on #260
Let's tackle ONE THING AT A TIME.

Yes if you start the sim that way, there will have only one settlement in that simulation session.

[2019-12-25 07:20] yamankatby commented on #185
I have the same issue
[https://stackoverflow.com/questions/59475813/an-illegal-reflective-access-operation-has-occurred](My question on StackOverFlow)

[2019-12-25 13:00] shirishag75 commented on #260
No, that is incorrect because the moment I start the simulation I get the messages from other settlements as well, not just a single settlement :(

[2019-12-25 13:02] shirishag75 commented on #262
It should ask me about at least setting up the commander.profile, shouldn't it. It doesn't.

[2019-12-25 13:06] shirishag75 commented on #185
@yamankatby @mokun see this huge thread  https://github.com/google/guice/issues/1133#issuecomment-568117370 apparently somebody is working on it but when they will be to fix it and send it to upstream to get the code reviewed and then merged is anybody's guess.

[2019-12-25 18:19] mokun commented on #262
You have to choose `1. Start a new sim`

![image](https://user-images.githubusercontent.com/1168584/71449381-c5389080-2710-11ea-8470-db949bbd2600.png)

[2019-12-25 19:23] shirishag75 commented on #262
It actually doesn't do that. It straight starts the simulation and I get the following screenshot.
![mars-sim-console](https://user-images.githubusercontent.com/727626/71449744-66443d00-274b-11ea-9773-d075b2e3bffd.png)

It seems the java.lang.nullpointer exception happens at the start sim end itself.

[code]

[2019-12-26 10:55] shirishag75 commented on #262
The startup bit got fixed by r5249 commit hence closing this, the other issue remains.

[2019-12-26 10:55] #262 closed

[2019-12-26 10:59] shirishag75 commented on #260
ping... I compiled with r5249 and used -template:1 -country:India -sponsor:ISRO and still there was no difference in the scenario.

FWIW, I tried both the sandbox mode as well as the command-mode but do not see even a single bit of difference while running in the headless mode. All the bases and teams get activated :(

[2019-12-26 13:04] Urwumpe commented on #261
@Urwumpe,

Would be a strange place for a threading issue - should I take a look at this? If it is one, we should maybe invest some time getting the interfaces cleaned up.

[2019-12-26 16:42] mokun commented on #261
@Urwumpe ,

It could be a concurrency issue.

I'm not sure why sometimes Map such as lookupSettlement, lookupPerson, etc. were unavailable.

There may be some **write** operations at the start of the sim. But after the initial setup, there are only **read** operations done on these Maps.

So, they should be pretty much 100% available.

I don't mean the Swing EDT.

[2019-12-26 17:29] Urwumpe commented on #261
I rather suspect that we have multiple instances of thoses classes in our runtime environment by the kind of error happening. We could simply place a thread-safe version of Map there to be sure that it isn't cause by threading,

[2019-12-26 18:53] Urwumpe commented on #261
Looking at the code, would lookupSettlement be null, the result of the function should be an empty ArrayList. So, it does not appear to be caused by the Map itself being null suddenly.

[2019-12-27 05:49] mokun commented on #262
Do you also provide the `-new` argument ?

[2019-12-27 05:57] shirishag75 commented on #262
I don't understand, if I take `-new` argument then why should I need to go to main menu to start new sim ? It seems counter-intuitive. So the whole command should be the following ?
`
~/games/mars-sim/mars-sim-headless/target$ java -jar mars-sim-headless-with-dependencies.jar -new -template:1 country:India -sponsor:ISRO `

[2019-12-27 07:58] mokun commented on #261
@Urwumpe and @shirishag75 ,

I just did a commit to track that.

Let me know if you see the printing of the log statement `lookupSettlement is null` in the stack trace.

[2019-12-27 08:26] shirishag75 opened #263 "IndexOutOfBoundsException with r5250, selecting sponsor"
I compiled the new package and then ran it and tried to use the command mode, made a profile and then got hit by the following -

[code]

[2019-12-27 08:27] shirishag75 commented on #261
@mokun and @Urwumpe just was hit with https://github.com/mars-sim/mars-sim/issues/263 , dunno if it's the same thing you are looking for or different.

[2019-12-27 16:56] mokun commented on #263
@shirishag75 , it's at this line that something went wrong.

You can google `IndexOutOfBoundsException` to understand what's at stake :D

[2019-12-27 17:21] mokun commented on #263
I can successfully create a brand new commander profile and start a settlement. I cannot reproduce this exception in my machine.

Exactly at what step did you encounter this exception ?and how often ?

Can you capture some screen shot from beryx console so that I can at least back trace the issue ?

Thanks for documenting it next time you see it.

[2019-12-27 18:10] shirishag75 commented on #263
I think it happens as you put the country of origin and sponsor again, so guess I shouldn't pass the full template perhaps ?

![index-out-of-bounds](https://user-images.githubusercontent.com/727626/71527586-fe6d2e00-28d3-11ea-9950-0446bc394701.png)

maybe just have ` -template:1 `and leave it that ?

![mars-command-box](https://user-images.githubusercontent.com/727626/71527617-1c3a9300-28d4-11ea-8

[2019-12-27 18:12] shirishag75 commented on #263
If I try just having template:1 string I get this -

[code]

[2019-12-28 06:02] mokun commented on #263
It's fixed now ! Thanks for pointing that out.

[2019-12-28 08:22] shirishag75 commented on #263
fixed at my end hence closing it.

[2019-12-28 08:22] #263 closed

[2019-12-28 08:28] shirishag75 opened #264 "why does mars_simu_0.log keep data from old saves ?"
I was looking at `~/.mars-sim/logs/mars_simu_0.log` and saw it had data from almost the starting of the month i.e. December 1st, 2019 instead of now. Why is that ?

[2019-12-28 08:49] shirishag75 opened #265 "why Rithvik Jana and Chande repeatedly grading the mission ? How to model the mission plan review process"
See the log, that will tell all.
[mars_simu_0.log](https://github.com/mars-sim/mars-sim/files/4006872/mars_simu_0.log)

[2019-12-28 12:23] Urwumpe commented on #265
Pay attention to the part that says

[2019-12-28 15:43] shirishag75 commented on #265
@Urwumpe where do you get that. I get 100% review completed

See at 00-Adir-01:225.947 or are we seeing two different things.

Later I saw the same thing with the commander's mission i.e. shirish agarwal also reviewing and re-reviewing his own mining plan and going ahead with it. I thought the idea was that other people in the group are/were going to grade your mission plan which would bring in an

[2019-12-28 15:54] Urwumpe commented on #265
In your log, reading the blocks of lines chronologically.

See here, filtered for the respective lines:
[code]

What I just find strange there is that the reviews take no time and are done in sequence. And yes, having a full "self-review" also looks strange. I maybe use a different way to calculate the progress, so that not every review is a ten percent step.

[2019-12-28 15:59] shirishag75 commented on #265
I find that whole thing strange. I also saw that as I said later as well, for the same thing happened for similar mission by shirish agarwal (the commander) too.

Btw it seems you didn't see this -

[code]

[2019-12-28 19:47] mokun commented on #265
So this is a design question: should we allow commander to grade his own plan ?

[2019-12-28 19:53] mokun commented on #265
00-Adir-01:264.557 (Info) Mission : [New Mumbai] Engineering Specialist Rithvik Jana was getting ready to embark on Regolith Prospecting

That tells me the mission plan is 100% fully graded.

At this point, if the total score is larger than the minimum score, the mission plan is approved.

The minimum score gets updated all the time and is the average of the previous two passing/non-passing scores

[2019-12-28 19:56] mokun commented on #265
@Urwumpe , I'll fix this and make the review process spread out over a period of time.

[2019-12-28 20:00] mokun commented on #265
Q: If you are a commander, how would you decide how to grade a mission plan ?

For settlement with a large number of people, we can have some selected folks grading it.

But for small settlement, we have less folks available. Say for a 4-person settlement, due to shift rotation, 2 of them can be asleep and 2 are working.

So in this case, may be we want *everybody* to look at a mission plan since

[2019-12-28 20:57] shirishag75 commented on #265
Sure, but one person, one vote that kind of thing.

Maybe a bit more weightage than a normal crew member but not by much, at least not in the beginning. Later, over years with experience and trust of others he could do more but at the beginning  only little more. How do we compute experience and gaining trust is something I leave to you.

Taking from Star Trek perspective, all the away teams had t

[2019-12-28 21:51] Urwumpe commented on #265
Important though, there should be always only one person that has the responsibility for the approval. Can we maybe add some historic record for any general approval process or command decision in the simulation? Would make it easier to later find out how a mission got approved or rejected.

[2019-12-28 22:31] shirishag75 commented on #265
Did you see The Martian ?  When the storm is about to hit the mars, all chime in. Even in ISS  or even the Mars rovers I'm sure tens of people would argue back and forth as to what is the best way to do things rather than one just person taking all the decision. At the very least s/he would listen to all the viewpoints and then make an **informed** decision. Now because we do not have a way to mak

[2019-12-28 23:23] Urwumpe commented on #265
Yes - and one commander had the final word there.  Informed decision does not mean, that all decide. Informed decision means that all experts for a specific question within a complex decision are consulted and in the ideal world, the single accountable decision maker decides based on the answers he/she got from the experts - and the recommendations by the various experts might even be contradictin

[2019-12-29 07:03] shirishag75 opened #266 "cannot load a saved sim when using template"
I used r5252 and saved a game. Then logged out of the game and tried to load the save game using the

`~/games/mars-sim/mars-sim-headless/target$ java -jar mars-sim-headless-3.1.0-jar-with-dependencies.jar -template:1 -country:India -sponsor:ISRO`

I made the initial settlement with the same template and scenario and even had made the commander.profile.

then tried to load the saved .sim but it di

[2019-12-29 22:10] shirishag75 commented on #265
@Urwumpe and @mokun in such a scenario where the commander takes the last call on everything then why do we even need the relationship score. Let it be just be a lottery thing, chance thing or Russian Roulette. Because the captain/commander doesnt need to explain any of his explanations to the group or anybody else. It would make the whole thing whole lot simpler if you wanna go that way. Then you

[2019-12-30 03:11] mokun commented on #266
When you load a saved sim, you just have to do the following :

[2019-12-30 04:28] mokun commented on #265
In real world, relationship impacts everything we do :D

[2019-12-30 04:31] mokun commented on #265
We could create an abstract model of a group debate.

We may create different style of leadership and how each style impact the decision making process of for instance what to do when a disaster strike.

[2019-12-30 04:38] mokun commented on #265
I can see your point. It's a lot more efficient if a commander has **the last word** for approving or disapproving a mission, rather than going through a debate process.

Or: we may simply let people in that settlement vote either *FOR* or *AGAINST* a mission.

Yes. Right now, unapproved mission plan are being deleted from the 'Mission' tab.

I supposed we can save each proposal but storage will b

[2019-12-30 05:06] shirishag75 commented on #265
The question of the disaster strike was an extreme take or the ones in Martian but the reality is unless and until you do not have a debate you cannot have a nuanced view and have a naunced decision. What @Urwumpe fails to recognize that from what I have seen  in Star Trek, The Martian (popular media) and elsewhere the captain had to explain her/his decisions to superiors. In fact, in Star Trek wh

[2019-12-30 05:19] mokun commented on #265
Sure. In real world, the commander or the captain is responsible for getting the mission done as well as being accountable for the welfare of his crew.

My question is : how do we model this in a computer simulation ?

Yay this makes things a lot of interesting in the plot.

The superior of the commander/captain usually have desk jobs. The type of risks they are confronted with is : can I trust th

[2019-12-30 05:35] shirishag75 commented on #265
Usually but that is when you have a large army having thousands of people under your command where you have to spend more time in strategizing, while if you are the captain with boots on ground you do not have that luxury. In the above scenario you are talking about a four-five star general if I were to use military terms.

Coming from the Indian context there have been numerous examples of Indian

[2019-12-31 17:00] Urwumpe opened #267 "ShenandoahGC is not supported by Oracle JDK, Java 12"
**Describe the bug/issue**
When starting mars simulation project using a Oracle JDK12, the start fails due to the following error:

"Option -XX:+UseShenandoahGC not supported"

**Affected Area**
 - mars-sim-main

**Expected behaviors**
The Shenandoah GC should be optional feature and only be enabled by experienced users. Oracle does not plan to support it and will likely not change their mind in a

[2020-01-01 00:04] shirishag75 opened #268 "mission objective in templates ?"
Are there any mission objective templates or there isn't ? If there is, how does one view to know objectives of the template to have a win scenario.

@mokun @Urwumpe @larsnaesbye

It would be nice to have each template for e.g. template:1 to have a scenario so we know what objectives need to be achieved. Right now, the commander/gamer has no idea what the objectives are. Is there a proposal to -

[2020-01-01 00:23] shirishag75 opened #269 "no movement after saving the save game."
After 15-20 minutes there is no movement on the console as can be seen in the screenshot.
![mars-sim-headless-no-progress](https://user-images.githubusercontent.com/727626/71636778-f93e1500-2c2c-11ea-85b5-5476ec705f04.png)

[2020-01-01 01:19] shirishag75 opened #270 "why turning processors manually off ?"
Am sharing the screenshot as well as the log, have no idea why they turned off the solid waste management or the black water processor off, no explanations given :(
![why-turning-processors-off](https://user-images.githubusercontent.com/727626/71637172-a8321f00-2c34-11ea-85da-ffee98595bb6.png)
[mars_simu_0.txt](https://github.com/mars-sim/mars-sim/files/4013687/mars_simu_0.txt)

[2020-01-01 01:28] Urwumpe commented on #270
I can understand why this might make sense. But I would also like to see the actual reason for this. Much better would be some sort of production plan for the settlement. What should be produced and how much capacity should be constructed or kept in reserve for future growth?

[2020-01-01 06:08] shirishag75 commented on #270
I have the same thing, we can make educated guesses but guesses cannot be part of any justifiable action. For e.g. if turn the solid waste management process off, what does it mean, what implications it has to health and hygeine, the same with black water processing. This basically means reusability of water for hydroponics or any such uses.

https://en.wikipedia.org/wiki/Blackwater_(waste)

[2020-01-04 13:23] Urwumpe commented on #268
I think we don't have anything like that yet. Any wishes how it should be like?

I personally would prefer using script files to define such scenarios and objectives. Allows more flexibility and would be easier to extend later. A pure data format like XML would be tougher there, but maybe easier to use.

[2020-01-04 14:05] shirishag75 commented on #268
While I would prefer .json if that is possible but that's upto the implementors and how they look to implement it. The idea and I have shared before is to create two things -

a. Have a winnable scenario
b. Also grow skills. I know we do have skils but there is nothing to know at what level your skills start at the beginning.

I have number of scenarios or objectives at times but objectives should

[2020-01-04 15:35] Urwumpe commented on #268
So, JSON format for any template. Can be done.

Which kind of mission objective do you need for initial capability? "Build n of X"? "Locate mineral site with least 50% kaolinite?"

The population caps should go into a new issue, that is an slightly unrelated feature.

[2020-01-04 16:10] shirishag75 commented on #268
Reply in-line -

cool.

I actually have no idea. In the headless package I prefer to use, the gamer has no idea about the surroundings and what is urgent or what needs to be priortized. As of right now, it seems, it seems we have only 2-3 things,  people eating, the gardenbots doing gardening, supply missions but no clear objectives as to why we are doing that.

Two objectives are clear to me so f

[2020-01-04 16:11] shirishag75 opened #271 "have population caps for newbie gamer."
It would be nice to have population cap till a new gamer isn't familiar with the game mechanics. Should make on-boarding whole lot easier.

[2020-01-13 01:43] mokun commented on #269
It's possible that the simulation speed is low.

I can see activities after autosaving.

[code]

[2020-01-13 01:55] mokun commented on #270
Turning on waste management consumes power.

See `building.xml`
https://github.com/mars-sim/mars-sim/blob/b9b22d999195bbf01945f83952d2c82e8715ac29/mars-sim-core/src/main/resources/xml/buildings.xml#L316-L494

In case of `Solid Waste Management`, if there are no more toxic waste or solid waste, it will be turned off.

Turning on/off each process depends on its value point (VP).

If the amount of th

[2020-01-14 01:33] shirishag75 opened #272 "Lot of deprecation warnings while compiling the game."
There are lot of warnings which I have shared while compiling the game. Please fix those. It does enable the compilation but I guess it would fail one way or the other while playing the game in the console mode.
[mars-sim-issue.txt](https://github.com/mars-sim/mars-sim/files/4056867/mars-sim-issue.txt)

This is with r5256

[2020-01-18 14:03] shirishag75 opened #273 "Still getting severerity and deprecation warnings in r5259"
This is while using/compiling with java 11. There are still lots of deprecation and severe warnings even after the latest updates. The package is compiled but I'm afraid to run it till the issues are not resolved.
[mars-issue.txt](https://github.com/mars-sim/mars-sim/files/4080760/mars-issue.txt)

[2020-01-18 19:09] mokun commented on #273
Some are just safety precaution and it doesn't affect anything.

There are a few deprecated methods from some old API in that we are using its source code.

It's going to take a while to clear them.

[2020-01-23 16:36] mokun commented on #237
I'll close this thread since those issues should have been cleared up.

[2020-01-27 03:06] mokun commented on #266
Everything should work. Please verify it. Will close this soon.

[2020-01-27 09:02] shirishag75 commented on #273
I compiled today again, saw the new changes, nothing much improved. Hope the deprecated methods are replaced because otherwise it's possible that something may creep in savefiles which makes it harder to fix later. Look forward to the changes soon.

[2020-01-30 17:27] mokun commented on #265
@shirishag75

This is in the arena of social simulation.

We can google research journal out there to see the computational or programming approaches of modeling inter-personal relationship and command relationship.

We can add `trustworthiness` or `integrity` as a natural attribute.

@Urwumpe

I've thought of creating our own syntax for interaction between settlers using some sort of Agent Simula

[2020-01-30 17:34] mokun commented on #260
I run the console edition with the following arguments : `-new -8192x -template:3B -sponsor:SpaceX -country:USA`

[code]

As you can see, only one settlement is being created, namely, `Nicolas Town`

btw, can you give me some good settlement names in Indian ?

[2020-01-30 17:51] mokun commented on #260
Inside the `/mars-sim-headless/target/` is the Console Edition. See below 👍

![image](https://user-images.githubusercontent.com/1168584/73475657-650fbc80-4356-11ea-9164-3b06a5760a72.png)

Inside the `/mars-sim-main/target/` is the Console Edition. See below :

![image](https://user-images.githubusercontent.com/1168584/73475798-abfdb200-4356-11ea-98ac-ce3b033bbcb5.png)

Note that in both cases, I r

[2020-01-30 18:24] mokun commented on #141
@Urwumpe @shirishag75

see https://github.com/YJPL/personal-kanban

May be we can make use of some markdown editor API out there to create kanban task lists or notes in mars-sim

[2020-02-04 19:06] mokun commented on #30
@shirishag75 ,

I came across this article this morning at https://lwn.net/SubscriberLink/811068/cfeb6a67b8dfbe47/

After you back up the master branch, feel free to experiment with converting our repo to SHA-256 keys.

[2020-02-04 23:02] mokun commented on #160
We may as well integrate how the player commander would like to customize the workflow or work process for each specialization (Agriculture, Engineering, Mission, Logistics, Resource, Safety and Science).

So in build 5271, there will be a total of 8 tabs (one for each of the 7 specializations, plus the Leadership tab) as seen in n the Swing Edition.

As for the Console Edition, we'll need to crea

[2020-02-05 12:54] shirishag75 commented on #30
I dunno if you read the whole article, it would mean retooling git itself. I would rather talk with the debian git maintainer and see if it on their roadmap, if it is, then probably will do it. and report back. Thank you for sharing the link as well.

[2020-03-17 09:50] Urwumpe opened #274 "Many deaths due to "High Fatigue Collapse", contrary to medical reality"
**Describe the bug/issue**
During the simulation, I observed a high number of deaths due to "High Fatigue Collapse"

**Affected Area**
Health conditions

**Expected behaviors**
High fatigue can be an annoying condition, but could never be deadly by itself.  It kills you by other things, like unexpected events reducing your velocity from 100 km/h to zero in a few milliseconds while you are sleeping

[2020-03-23 18:54] mokun commented on #274
What is the most realistic way of simulating the health situation of having high fatigue collapse  ?

I definite agree they shouldn't die by High Fatigue Collapse alone. Though they may die from secondary complications, such as the low body temperature, head trauma, lack of food/water, etc..

I thought there is already a "window" of 1 or more day for a person's health condition to degrade to zero.

[2020-03-25 23:41] Urwumpe commented on #274
I had found some many messages saying that a bed could not be reserved in the process to the settler death. Maybe some bug in the code there?

I also can't find any code about how to handle incapacitated persons. There should be some emergency task to reserve a infirmary bed for this settler and move him there.

[2020-03-26 04:04] mokun commented on #274
Yes very likely. it's possible that a person cannot find a viable path to his/her bed.

[2020-03-26 04:08] mokun commented on #274
Not directly. We could probably tweak the [MedicalAssistance](https://github.com/mars-sim/mars-sim/blob/master/mars-sim-core/src/main/java/org/mars_sim/msp/core/person/ai/task/MedicalAssistance.java) task and [TreatMedicalPatient](https://github.com/mars-sim/mars-sim/blob/master/mars-sim-core/src/main/java/org/mars_sim/msp/core/person/ai/task/TreatMedicalPatient.java) task or create a brand new ta

[2020-03-30 18:29] Urwumpe commented on #274
Just skimmed over the MedicalAssistance task... we should really get rid of those overly complex constructors, that essentially already perform the task that gets created there, that is never a good design pattern, as such it essentially replaces a static factory method and the task only stores the result of what is really the task.

[2020-05-20 09:55] cookins opened #275 "cant locate JRE 12 to download..."
Hello
im sorry, bu i cant find JRE 12 version... I going over oracle link, at download section, to JRE and it shows me Java 8 version to download. I was able to locate only JDK 12 version.
Can somebody provide me link to 12 version of JRE? thanks!
(im complete newb with java)

[2020-05-20 10:42] jbosmans commented on #275
Hi,
you'll want to go for either v11 or v14.

v11 has long term support whereas v14 will expire in a few months, as has already happened to v12 - which is probably why you're having a hard time finding it.

You can get both from here : https://adoptopenjdk.net/

Good luck !

[2020-05-20 10:51] cookins commented on #275
but there no JRE seems... only JDK
or its no difference?

[2020-05-20 10:53] cookins commented on #275
thanks! hope it helps!

[2020-05-20 10:53] #275 closed

[2020-05-20 10:55] jbosmans commented on #275
FYI The download pages include both JDK and JRE builds eg for v11 https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=hotspot

[2020-05-20 14:06] cookins opened #276 "New game not starting..."
hi
i just installed JDE 12.0.2+10 and downloaded 5273_swing_java11.jar.
After selecting new game and creating commander in so, i just getting message:
'Starting a new simulation with default site selection..."
and nothing happens.
any hints? thanks!

[2020-05-29 03:01] rlw9999 opened #277 "3.1.0_console_java11.jar.7z, Doesn't open in the Windows GUI mode, JavaFX edition in only older builds"
Mars-sim doesn't open in the Windows 10 console mode.  It only opens first from a cmd-dos window, then opens only in straight Java.  I have downloaded and installed the following Java console 'jdk-14.0.1_windows-x64_bin.exe'.  Please see the below attachments.

This is how mars-sim always opens:
![CMD and Java Console](https://user-images.githubusercontent.com/66102235/83217741-aad46a00-a129-11ea-

[2020-05-31 19:26] Urwumpe commented on #277
That had been the screenshots of the JavaFX version, this one got harmed a bit because Oracle removed JavaFX from the SDK, leaving only OpenJFX behind to use. Eventually there will be a new JavaFX version of the UI, but the project went back to Swing as focus.

[2020-06-09 17:38] mokun commented on #276
Hi @cookins,

Can you copy and paste some screen shots for us to see here ?

Appreciate !

[2020-06-09 17:46] mokun commented on #277
@rlw9999 ,

As @Urwumpe explained, we got rid of the use of JavaFX to focus on refining features, rather than the graphics.

Therefore, we got rid of the *Main Menu* with that spinning Mars Globe since they require JavaFX.

For now, players do have to step through the *Console-based Main Menu* to start a sim.

In future, we will bring back a graphically driven main menu for sure.

Meanwhile, the *

[2020-06-13 20:29] rlw9999 commented on #277
So, I did see your post mokun about running a older version of mars-sim:

![4600](https://user-images.githubusercontent.com/66102235/84578237-c45bef80-ad80-11ea-8dc4-5e6b954c8387.JPG)

And I also saw this:

![46001](https://user-images.githubusercontent.com/66102235/84578249-e05f9100-ad80-11ea-80b8-69840201f4cd.JPG)

So I figured I could run that JavaFX version of mars-sim. I downloaded and instal

[2020-06-14 16:47] mokun commented on #277
Hi @rlw9999, can you type "java -version" in the terminal or command prompt and copy and paste what you see here ?

[2020-06-23 17:36] mokun commented on #267
Done. closing this.

[2020-06-23 17:36] #267 closed

[2020-06-23 17:37] #266 closed

[2020-07-21 01:06] mokun commented on #276
I just did a commit that starts testing the use of Java 14 as the new JDK baseline for the next minor release. So far so good.

[2020-07-21 01:07] mokun commented on #277
@Urwumpe
I just did a commit that starts testing the use of Java 14 as the new JDK baseline for the next minor release. So far so good.

@rlw9999
We will fix whatever startup issue and begin working on the use of Java 14 JDK.

[2020-07-21 01:09] mokun commented on #200
@shirishag75

I just did a commit in support of the use of Java 14 and is aiming for the next minor release.

[2020-07-21 09:18] cookins commented on #276
sorry for late reply -
well, im tried again once more - its seems working now. have no idea why there was issues before. thanks for help, anyway!

[2020-07-21 09:18] #276 closed

[2020-07-21 21:42] mokun commented on #276
@cookins

no prob. Have fun !

[2020-07-21 21:55] mokun commented on #271
@shirishag75

Let's see how best to approach that. Currently, the recommended population is based on the # of beds available, namely, one person per bed.

However, there are situations when some members at a settlement for trading. Since they are visitors, they don't have any bed registered under their names.

For now, we allow them to sleep at any open beds to recuperate.

How would you like to d

[2020-07-21 21:57] mokun commented on #269
I'll close this for now.

[2020-07-21 21:57] #269 closed

[2020-07-21 22:00] mokun commented on #268
@shirishag75  @Urwumpe

Let's first figure out how to proceed with saving and load JSON data set.

After that, we'll have a lot of flexibility to play with.

It would be cool for players to design their own custom mission templates in future for sure.

[2020-07-21 22:02] mokun commented on #264
@shirishag75

I'll have to find out the goals and the exact mechanics behind saving the logs as text files and why sometimes it saves but sometimes it doesn't.

@Urwumpe

Have you done similar things in other projects ?

[2020-07-22 04:19] mokun commented on #255
@shirishag75

Currently, there are 3 categories of operations that has a certain Level of Effort associated with it.
1. Outstanding Repair'
2. Outstanding Maintenance
3. EVA Suit Production

At the beginning of a simulation, the level of effort of each operation is set to 1 by default.

You can change it to between 0 to 5.

Just so you know, this value is converted to a modifier value.

The higher

[2020-07-24 01:38] mokun commented on #253
@shirishag75 ,

To load a sim called `123.sim`, just type in

'>java -jar 3.1.1_swing_java14.jar load 123.sim'

[2020-07-30 03:26] mokun commented on #277
@rlw9999 ,

We've explained that while you may find the JavaFX edition of the binary in older build, it may work with Java 9 or Java 10 only, as the JDK of Java 11 decoupled itself from JavaFX API.

In newer builds and the latest official release v3.1.1, we use Swing as GUI and won't need JavaFX, just so you know.

Let me know any issues you run into when starting the sim and close this issue when

[2020-08-04 05:08] mokun commented on #261
I haven't encountered any issue driving the vehicle. It was fixed. Closing this.

[2020-08-04 05:08] #261 closed

[2020-08-04 05:10] mokun commented on #238
Fixed already. Closing this.

[2020-08-04 05:10] #238 closed

[2020-08-04 05:15] mokun commented on #258
@shirishag75. This was fixed a while back. Please double check.

[2020-08-04 05:16] mokun commented on #259
@shirishag75 . Let me know if the repair log is good now.

[2020-08-04 20:48] mokun commented on #165
I just committed a [fix](https://github.com/mars-sim/mars-sim/commit/53ed2966b85a0436bfb885a99570210ffeaa8c83) yesterday on a major walking bug in that settlers coming back from an EVA would be frozen in the EVA Airlock in some situation. You may have seen it.

[2020-08-04 20:50] mokun commented on #128
Just resolved an issue yesterday in that settlers got stuck inside an EVA airlock. See [this}(https://github.com/mars-sim/mars-sim/commit/53ed2966b85a0436bfb885a99570210ffeaa8c83)

[2020-08-05 23:02] mokun commented on #265
@shirishag75  @Urwumpe ,

I know we've discussed many different possible improvement we can have in this thread.

For now, I can only do one thing at a time :D

The [commit](https://github.com/mars-sim/mars-sim/commits/master) I just made was a slight refinement of calculating the site value of a possible mission.

In the past, we only calculate the site score if it's an ice collection mission.

N

[2020-08-05 23:02] #265 closed

[2020-08-05 23:04] mokun commented on #247
@shirishag75 , please go ahead to tie a ticket/issue to a relevant project as you see fit.

[2020-08-05 23:20] mokun commented on #247
@shirishag75

I just refined the Mission wiki. See [here](https://github.com/mars-sim/mars-sim/wiki/Missions) if you like my explanation.

[2020-08-06 20:43] mokun commented on #144
Just added Psychology as a Scientific Study subject in the last [commit](https://github.com/mars-sim/mars-sim/commit/d0ce26263c7dcea6bc9186ca32414bb11fc7b1ee).

[2020-08-06 23:59] mokun commented on #191
Just corrected another issue with loading the alpha crew listed in crew.xml in this [commit](https://github.com/mars-sim/mars-sim/commit/d0ce26263c7dcea6bc9186ca32414bb11fc7b1ee)

[2020-08-07 00:01] mokun commented on #251
Just corrected another issue with loading the alpha crew listed in crew.xml in this [commit](https://github.com/mars-sim/mars-sim/commit/d0ce26263c7dcea6bc9186ca32414bb11fc7b1ee)

Will start working on the console alternative of the `Crew Editor` that aims to load and edit the alpha crew manifest.

[2020-08-07 00:08] mokun commented on #207
Just corrected another issue with loading the *alpha crew* as listed in `crew.xml` in this [commit](https://github.com/mars-sim/mars-sim/commit/d0ce26263c7dcea6bc9186ca32414bb11fc7b1ee)

We also added the ability to send each crewman to a particular settlement destination, rather than mandating all of them to send to only one destination.

Will try to add the capability of saving the changes made

[2020-08-07 00:12] mokun commented on #88
The [last commit](https://github.com/mars-sim/mars-sim/commit/4c5afb48a51d27aaf90fac8418cd31402447ef2a) just refined how the job prospect will impact the settlement need of a job.

[2020-08-11 01:43] mokun commented on #258
@shirishag75 ,

This only happens if the condition that `Walk.canWalkAllSteps()` is false in `performEmbarkFromSettlementPhase()` in `RoverMission`.

I haven't seen one, at least not recently.

Recommend closing this thread until it happens again.

[2020-08-11 03:28] mokun commented on #274
@Urwumpe

Okay, the steps in the constructor should be run in its meta task to determine if there is a medical need.

If it does, then there should be a list of MedicalAid instance being set up.

`List<MedicalAid> localAids = getNeedyMedicalAids(person);
`

But it looks like MedicalAssistance is never being into actual use. There is no associated MedicalAssistanceMeta class in existence to instant

[2020-08-11 18:12] mokun commented on #274
@Urwumpe

Now, do you mean there is a value in switching to using static factory method to instantiating this task or more ?

[2020-08-11 18:16] mokun commented on #274
It does sound like a lot of waste if, say, we have 1000 settlers, each settler is doing a task would need to create an object for that and a moment later, that object would be destroyed after it's done.

What is the better alternative that may work in our case ?

[2020-08-12 03:27] mokun commented on #109
This is an old thread and the issues have been worked on. Closing it.

Open a new one if it happens again.

[2020-08-12 03:27] #109 closed

[2020-08-12 18:09] #237 closed

[2020-08-15 06:27] shirishag75 opened #278 "got quite a few deprecated warnings while compiling the game."
Got a few warnings of deprecated code while compiling the game -

[code]

I was compiling the latest r5328 via -
`
~/games/mars-sim$ mvn compile `

Java at my end -

[code]

On a slightly different note, had to remove the .m2 repository and start from scratch. Before it was giving me some weird errors. There seem to be still quite a few jars/resources downloaded from mars-sim itself.

[2020-08-16 05:34] mokun commented on #278
There are about ~800 of these deprecated warnings. Most of them have to do with the generics. The codes were written in an older java standard and back in those days they didn't matter. They are not errors. It'll take a while to rewrite them.

For new codes, we follow the current standard practice.

To me, I'd rather spend time looking into solving important issues and implementing new features. :

[2020-08-17 04:29] mokun commented on #207
@shirishag75 ,

We are improving the crew editor. On my way to add the ability to reload the default profiles to overwrite changes. Will add the ability to save it to crew.xml in near future so that you may tailor a dedicated crew for your simulation.

[2020-08-17 04:33] mokun commented on #251
@shirishag75 ,

See https://github.com/mars-sim/mars-sim/issues/207.

Adding the missing features to the crew editor as we speak.

[2020-08-17 04:46] mokun commented on #249
`previous.sim` is the backup of the previous version of `default.sim`, something we mentioned in a thread in the past. It's nothing spectacular. Just a backup for the developer in case you need it.

[2020-08-17 04:49] mokun commented on #249
@shirishag75 ,

Yes, you can always save it under whatever name you choose. Just choose `Save_As` in the console menu or in the `Save_As` button in the Main Window.

But if you choose `Save`, it will save it under the standard filename, namely, `default.sim`.

[2020-08-30 18:17] shirishag75 opened #279 "Name for the Indian base in mars-sim"
Here are some of the alternatives that people have suggested for the Indian base in the game so far. This is purely from Indian standpoint -

1. Maangalan
2. भौमभवन  - BhomBhavan
3. Marshal
4. Base SANI
5. बस्ती / Basti

In the above 5 I do like 1. and 4.

[2020-08-31 03:26] mokun commented on #279
That's cool !

Does SANI have to be capitalized ?

is it okay to have just "BhomBhavan" and "Basti" ?

[2020-08-31 03:28] mokun commented on #279
So far, we have the following 5 settlement name choice for ISRO.

https://github.com/mars-sim/mars-sim/blob/ba32d20ffe3972a04e58c16a833000805b84ebe1/mars-sim-core/src/main/resources/xml/settlements.xml#L3913-L3918

Does it make sense to have them as names ?

[2020-08-31 03:29] mokun commented on #279
Also, can you provide a list of Indian vehicle names ?

[2020-08-31 21:21] mokun commented on #279
@shirishag75 ,

In the past, it was just a big pool of candidate vehicle names to pick from, regardless your country of origin and sponsor.

Now I'm going to make mars-sim to name a vehicle specifically according to its sponsor.

https://github.com/mars-sim/mars-sim/blob/f5c926bebc0b209e03d526c4ee9bda9c6db9f96c/mars-sim-core/src/main/resources/xml/vehicles.xml#L340-L407

[2020-09-01 02:33] mokun commented on #279
@shirishag75

Now, it looks like this :

https://github.com/mars-sim/mars-sim/blob/e867d7ac36b1d4c890dcd5eb2ac81b65170237ee/mars-sim-core/src/main/resources/xml/vehicles.xml#L342-L486

[2020-10-07 06:49] mokun commented on #274
@Urwumpe @jbosmans

Yes I'm looking into simplifying the codes inside the constructor of all of those Task's class. e.g. a new instance of the class `Sleep` is created each time a person picks its corresponding `SleepMeta` as the winner.

So how would you spend the least amount of effort in modifying the codes in such a way that when a person performs a task, there's no need of creating an instanc

[2020-10-07 07:18] jbosmans commented on #274
The problem isn't really the creation of object instances, that's been pretty cheap for quite a while performance-wise.

The issue more likely is a combination of factors:

1. constructors do more than creating an object instance. Both constructors for Sleep (for robot Person and Robot args) have behavior in the constructor. This means simply creating an instance of the Sleep class does more than

[2020-10-08 04:35] mokun commented on #274
@jbosmans

Yes. The `Unit` class is the one that has been extended the most. For instances, `Structure`, `Settlement`, `Building`, `Person`, `Robot`, `Vehicle`, `Rover` all came from it.

Let's see how we'll simplify that

[2020-10-08 04:43] mokun commented on #274
@jbosmans

Yes. Currently, class such as `Settlement`, `Building`, `Person`, etc. tends to have mutable data produced and handled.

How do we do less in these objects ?

I do see that extra care is needed to handle these mutable states or else it will cause multi-threading issues.

So it's better we minimize mutating states.

[2020-10-08 20:31] Paculino opened #280 "Food production values"
I started adding onto the food production XML (fixed a typo "slat" to "salt") as well as the resources and meal XMLs, and noticed some discrepancies where the output amount did not seem to match the input. The major discrepancy was for rice flour, which based upon the XML is 80 % water by mass. Should it not be more similar to soy flour in this manner? The other discrepancies made more sense, as w

[2020-10-09 00:59] mokun commented on #280
@Paculino ,

I suppose you're looking the process here in [foodProduction.xml](https://github.com/mars-sim/mars-sim/blob/06f3c3550541e180d291d99b57746d5fbc17fa03/mars-sim-core/src/main/resources/xml/foodProduction.xml#L374-L387)

Great that you pointed this out we may need to adjust the amount of water.

So the question is, what the amount of water by percentage of the input weight when producing

[2020-10-09 03:59] Paculino commented on #280
Unmodified rice flour can be dry-milled de-hulled rice, so it does not necessarily need any water unless you want to rinse or wash with sodium hypochlorite as with soy sprouts. If the macronutrient levels are adjusted, then I am unsure how much water would be required with the level of infrastructure in a mars base. If reducing fat content is the goal (assuming the process works like with partiall

[2020-10-09 15:22] Musickiller opened #281 "The commander should have the authority to appoint roles"
**Describe the bug/issue**
- Currently Command mode is a bit empty.

**Affected Area**
 - Command mode

**Expected behaviors**
 - One of the commander's responsibilities should be appointing roles to the settlers.

**Specifications  (please complete the following information):**
 - mars-sim build version : v3.1.1 B5285, 64 bit

**Additional context**
 - Sorry for being so short, if any idea come t

[2020-10-09 23:27] mokun commented on #281
@Musickiller

Yes thanks for suggesting that we should give the commander this option.

The use of the role in a settler is still quite under-developed.

Let's discuss more how the role can be used as well in this thread or another thread.

[2020-10-09 23:27] mokun commented on #281
Btw, on top of that, we have at some discussions in the past as to how we may model the idea of leadership by the use of the *leadership points*.

For instance, each time a commander creates an order, it will use up a bit of his leadership point.

This imposes some limits as to how many leadership tasks the commander can do in a prescribed period of time.

Imagine that if the commander is somewhat

[2020-10-09 23:30] mokun commented on #281
Oh another thing is that I was gonna say that starting in this commit [r5381](
https://github.com/mars-sim/mars-sim/commit/973999ae41f9550f8770eccbd29318deef977f9f), the commander may assign a task to **anyone** (not just himself) in his settlement.

For now, we call this a *task order* assigned by the commander.

[2020-10-09 23:52] mokun commented on #280
@Paculino

oh I see. Then it's just a matter of grinding the rice without having to boil them in water...

Yes if we want that process to isolate the protein and other nutrients, we can specify the need of a centrifuge device.

Chances are we should create a different process to extract whatever you have in mind.

I suppose this process is only supposed to create it's just dry rice flour. Once we

[2020-10-10 00:12] mokun commented on #280
I just added new contents in our [Food Production](https://github.com/mars-sim/mars-sim/wiki/Food-Production/_edit) wiki.

In particular, the sections **Preparing Meal** and **Oil for Meals** are the new addition.

Let's discuss more on how we might improve the modeling in near future.

[2020-10-10 00:42] mokun commented on #280
I just watched https://www.youtube.com/watch?v=SxVsjpLueyk

One problem is that once in touch with hexane, none of the ingredients can used for consumption anymore, right ?

[2020-10-10 00:48] mokun commented on #117
Closed.

[2020-10-10 00:48] #117 closed

[2020-10-10 03:39] Paculino commented on #280
Hexane is a common solvent for food(-grade oils such as soy and rapeseed according to wikipedia), but its vapours should be avoided, especially in confined areas; it has a high vapour pressure and is flammable (it is probably safest to do this in a glovebox). Because it is non-polar, it is relatively poor at dissolving carbs and proteins. Once the lipids are dissolved in it, the hexane can be drai

[2020-10-10 19:06] mokun commented on #248
Resolved and closed.

[2020-10-10 19:06] #248 closed

[2020-10-12 03:18] mokun commented on #281
@Musickiller ,

It turns out players have already been given the option to change a person's role for a while.

It's available in the person's unit window's `Career` tab.

You can see the combox box housing a list of role.

Note that if you intentionally a person to take up a leadership role (such as Commander, Sub-Commander or any one of the 7 Chiefs), then the person who previously hold this lea

[2020-10-13 08:50] Musickiller commented on #281
@mokun ,

I'm currently on release 3.1.1, and not sure I will be able to set up the dev environment soon. If you can make a pre-release with fresh features, it would be just great! If not, I'll see what I can do with the dev env.

[2020-10-14 00:04] mokun commented on #107
This is an old. closed

[2020-10-15 05:26] mokun commented on #281
@Musickiller ,

Yeah. I'm trying to hunt down the starvation/dehydration bug right now and if it's done in a timely manner, I'll release 3.1.2 right after.

For now, is it okay to try out [r5390](https://github.com/mars-sim/mars-sim/releases) as it already has lots of things fixed and refined since 3.1.1.

If you spot any bugs or major stuff missing, do you open a ticket and we'll work out a solut

[2020-10-16 16:42] mokun commented on #281
@Musickiller ,

We actually need to consider how the change of the **role** of a person should be allowed under the *Sandbox* vs. *Command* mode.

Currently, the permission to change the **job** of a person is given by the commander, sub-commander, or one of the chief.

e.g. If the player wants Sandy to change her job from being a biologist to a botanist, one can go to the **Career** tab of Sandy'

[2020-10-31 05:50] mokun commented on #207
@shirishag75 ,

After the last commit, we are finally able to save the crew members that a player creates and store it as `beta_crew.xml`.

Note that for now, we standardize it to a crew of 5.

[2020-10-31 05:53] mokun commented on #251
@shirishag75 ,

This thread is similar to #207.

Close it if you're done the issue.

[2020-10-31 18:33] #277 closed

[2020-11-01 01:29] mokun commented on #207
With this [commit](https://github.com/mars-sim/mars-sim/commit/4984f3e1b3d9553047269486db653a1e1e65f984), it will now compare the MD5 hash on each xml files in your home directory to see if it matches the MD5 hash of its counterpart inside the jar file.

[2020-11-08 08:08] Brytenwalda opened #282 "Crew suffocating while loading the rover, rover moving into garage, mission resource"
**Describe the bug/issue**
In r5390 (3.1.2-snapshot), whenever I’m creating a mission, crew starts loading the rover indefinitely, at least until they suffocate. They never return back to the base, they just stand outside. They ignore orders assigned through commander’s dashboard and on the settlement map they are always outside, even if they are supposed to be doing something else according to th

[2020-11-11 06:20] mokun commented on #282
@Brytenwalda

Yes noted.

We've recently discovered this conflicting case of an outside vehicle going inside the garage while someone was loading the vehicle outside. As a result, this person got stuck and couldn't move and couldn't stop his task of loading.

Will see if this is already fixed by the changes made between r5390 and r5428.

[2020-11-19 08:52] bevans2000 opened #283 "Problem find JFreechart in clean build, Java vs. JSON serialization, concurrent thread for each settlement"
**Describe the bug/issue**
Clean mvn build fails.

**Affected Area**
Maven cannot download jfreechart from repo.maven.org. This site rejects the http protocol.

**Expected behaviors**
I think that the pom.xml of the mars-sim-ui module has an oversight in the repositories section. maven.org no longer supports http and https must be used. I changed the URL to https and it worked fine.

**Specificati

[2020-11-20 02:43] mokun commented on #283
That's awesome you found the reason.

Will change it. Thanks !

[2020-11-20 07:22] mokun commented on #283
@bevans2000

I just removed a few unused submodules recently to keep the codebase lean and mean :D

Sorry that this includes the `mars-sim-service` that you contributed.

See [here](https://github.com/mars-sim/mars-sim/commit/2dd74470162440cfdbaa8954d9b25a2acde72745).

It's been backup in GitHub, you can revive this project from there and don't hesitate to do so.

Just so you know.

[2020-11-20 14:15] bevans2000 commented on #283
Hay no problem.
I still think the long term future should be a server/client based model. Reusing the existing simulation engine. To aid this moving from Java Object serialisation into a JPA approach would be good I think; writing to a proper RDBMS. Have you considered making it more concurrent? I see the main event simulation loop doing the ticks is a single thread. This could be changed to a thr

[2020-11-24 04:35] mokun commented on #283
@bevans2000

Absolutely ! See project #1 in [here](https://github.com/mars-sim/mars-sim/projects).

We've said numerous occasion wanting to switch to JSON serialization or RDBMS.

Please by all means contribute to this effort.

[2020-11-24 04:41] mokun commented on #283
@bevans2000

Yes. Good idea. I'll try setting up one thread per settlement or per few settlements, depending on the # of cores available in the machine where mars-sim is run.

Right now the only contact point between two settlements is when a trader arrives at a settlement other than his home town on a trading mission. I'll see if there is any potential concurrency issue there.

[2020-11-24 10:31] bevans2000 commented on #283
I would avoid using Thread directly but use a ExecutorService.invokeAll and create a List of TickUpdater implements Callable where each new class TickUpdater represents a list of Units that exist at the same Settlement. Each TickUpdater would execute the Tick method for all Unit plus the parent Settlement. Any Unit not in a Settlement, i.e. those Units moving between Settlement go into a default T

[2020-11-24 17:15] mokun commented on #283
Yes for now, I'm experimenting in adopting Executor or ThreadPool for each SettlementTask

I don't fully understand how this will entail.

I'll will commit my code in an hour or so.

Can you then optimize the codes whatever way you see fit ?

[2020-11-24 17:17] mokun commented on #283
We are relying on `ClockThreadTask` in `MasterClock`. Inside `ClockThreadTask`, it calls `addTime()` in every frame.

Within `addTime()`, we have
[code]

How will TickUpdater be placing these method calls ?

[2020-11-24 17:20] mokun commented on #283
Yes, good point !

I've planned to put an upper limit on how many threads it will create for calling each settlement.

The `ExecutorService` will execute those `SettlementTask` inside `timePassing()` in `UnitManager` by calling `runExecutor(time)`.

[2020-11-25 09:15] bevans2000 commented on #283
I like the changes you have made to introduce the SettlementTask. Why are the ConstructionSites excluded from the Settlement.timePassing method?

[2020-11-25 17:36] mokun commented on #283
What is the best strategy for calling up static instance references such as `marsClock` in, say, `Building` ?

I save a reference of `marsClock` in a lot of class so that I don't have to keep calling `marsClock = Simulation.instance().getMasterClock().getMarsClock()` every time I need it.

But in doing so, I litter a lot of class with these type of references.

Even though they are static referenc

[2020-11-25 17:36] mokun commented on #283
No particular reason.

In the next two commits or so, I'll take care of calling construction sites within each settlement by using its `ConstructionManager`

[2020-11-25 17:53] mokun commented on #283
@bevans2000

Also, I'd like to further bring in calling more tasks within each settlement.

Currently, I only touched the calling of units in those for loops in `UnitManager`'s `timePassing()` in and migrate them to `Settlement`'s `timePassing()`.

I will need to restructure those managers in `clockPulse(double time)` in `Simulation`.

May be `Mars` should stay there since it deals with the global

[2020-11-26 08:46] bevans2000 commented on #283
I would think about refactoring the whole approach to modelling time and making it consistent. My idea would be to use something similar to a Command design pattern where the parameters to apply are passed into the Receiver. The Reciever in this case is anything that is advanced via a time pulse. So this would be a new Interface called 'TimeAware' for example, that has a 'timePassing' method takin

[2020-11-26 14:26] bevans2000 commented on #283
I also ran the code through SonarQube today. https://sonarcloud.io/dashboard?id=com.github%3Amars-sim
Highlights area that should be addressed.

[2020-11-26 21:34] mokun commented on #283
@bevans2000, @jbosmans, @Urwumpe

Do we all agree that the top priority project for mars-sim is adopting Jackson for JSON serialization ?

[code]

I once tried out H2 Database. See mars-sim-core's pom.xml.

But I didn't move forward setting it up running within mars-sim.

@bevans2000 , do you prefer implementing H2 or something else ?

I suppose if we want mars-sim to run as a massive simulation a

[2020-11-26 22:33] bevans2000 commented on #283
The point about the Serialization route whether object or JSON is the whole object model has to stay in memory and be written as one operation. This eventually limits the number of simulated objects. Alternatively consider an ORM approach and then abstract away from the actual database, H2 or whatever.

[2020-11-27 17:52] bevans2000 opened #284 "Many static references to MarsClock"
**Describe the bug/issue**
There are many static variables referencing shared instances to MarsClock instance throughout the code base. This can make the code complex to trace and prone to multiple threading issues with concurrent updates. This also increase the memory consumption of objects.

**Affected Area**
The application of time within the simulation should update any attributes that are tim

[2020-11-27 18:41] mokun commented on #284
True. We should simplify it.  Can you revamp the architecture ?

[2020-11-27 18:42] mokun commented on #284
Sure. Now, will `ClockPulse` be a singleton class, similar to `Simulation` ?

What if we make `MarsClock` or `MasterClock` a singleton class ?

[2020-11-27 23:11] bevans2000 commented on #284
I think the UI can be refactored to use the same listener method as the main simulation. But for those listeners instance they are not called every pulse. But that's a later phase.
Key with this is an evolution approach of gradually refactoring. Once the Unit subclasses have been converted I'll create a PullRequest. Then the private inner classes of the Unit can be addressed. I feel that it will f

[2020-11-28 19:31] mokun commented on #284
But Swing has its own thread management. I've tried structuring in such a way to call the following two methods differently inside `run()` in `ClockListenerTask` within `MasterClock`

[code]

We call `clockPulse()` at 20 Hz and call `uiPulse()` at 5 Hz (once every 4 times of the `clockPulse()`.

[2020-11-28 19:37] mokun commented on #284
Yes do by all means come up with a better and efficient architecture for sending out pulse and tracking the clock (`MasterClock` and `MarsClock`). Appreciate !

[2020-11-30 22:52] bevans2000 commented on #284
Found a bug in the MissionManager because it was not Thread Safe. Different Persons would be accessing the single shared probability cache. Started adding the DataLogger concept can handle recording values over a number of Sols in a common way. This will help reduce the dependency on the MarsClock.

[2020-12-01 01:56] mokun commented on #284
@bevans2000

That's awesome, thanks for the improvement / optimization.

Let see, on Nov 27, 2020, I did two commits. They were called r5444 and r5445

Do you recall upon which one you created the "Updates to enable SonarQube" ?

[2020-12-01 02:00] mokun commented on #284
@bevans2000

How do should I choose the Pull in such a way that will incorporate all the changes made by both you and me since Nov 26 and 27 ?

[2020-12-10 15:11] bevans2000 opened #287 "MasterClock is reporting timing errors"
**Describe the bug/issue**
The MasterClock is generating a warning concerning missed frames and general slowdown.
`00-Adir-01:263.434 (Warning) MasterClock$ClockThreadTask : excess: 631 ms. currentTBU : 106 ms. executionTime : 738 ms. Recovering from a lost frame (Skips # 1).`

**Affected Area**
The masterClock slows down the simulation by reducing the timeRatio because it thinks the simulation is

[2020-12-10 18:31] mokun commented on #287
Sure. The current approach was that when creating the main game loop, # of cores would modify the default time ratio. The more the # of cores, the higher the initial adjusted time ratio is set to.

Recently, I've also factored in # cores in determining how many concurrent threads will be allowed to create. May be this needs to change.

In my win 10 machine, JDK has 60+ threads running at the same

[2020-12-10 18:38] mokun commented on #287
@bevans2000

Yes that's a good idea. We should limit that.

In the `Heating` class, setting the `time ratio` to 2048x or above is causing a lot of instability because, like you said, each step is too big.

Because the delta time is big, the calculated heat loss or heat gain in each frame becomes very large and not fine-grained enough.

Thus the temperature calculation becomes unstable and large bu

[2020-12-11 16:15] bevans2000 opened #288 "Console code complex"
**Describe the bug/issue**
The code in the console modules is complex with some very long methods containing multiple if conditions resulting in a very high complexity rating in static code analysis. This makes it difficult to maintenance and extend in the future.
For example, looking into add a new command to the Settlement chat was daunting.

**Proposal**
The module could be refactor to follow a

[2020-12-12 19:44] bevans2000 commented on #287
@mokun  I have done an initial version of the proposed reworking in a separate branch. It feels much simpler to me.
I can't see a purpose for the base_TBU anymore as it no longer plays a part in the logic. I will remove it from the UI on the final commit.

[2020-12-15 03:25] mokun commented on #288
@bevans2000 ,

Yes I'd love to get rid of the use of the branch conditions in the console-related class.

Do by all means show us a small example in how to convert that.

[2020-12-15 17:57] bevans2000 commented on #287
@mokun  These changes are ready to do.  Look at the calculateSleepTime method in the MasterClock for an idea how it now works.

[2020-12-15 18:01] bevans2000 commented on #284
@mokun This has  proved to be a hellish change recently. There is a bug somewhere concerning people leaving Airlocks. I think this existed already.
But during the investigation I found some places where the TaskManager/Mind logic could fail in edge cases. So I have some rework to only consider TaskMeta which have a positive probability score. Also converted the Mind.takeAction method to be iterati

[2020-12-15 18:02] bevans2000 commented on #288
Sure, I will create a branch and work on a prototype later in the week or next week. I will create the branch in the main repo to allow the work to be shared once a framework is in place.

[2020-12-15 18:15] mokun commented on #284
@bevans2000

Scott said in a private email that he's been looking into the walking bugs. The codes that have to do with walking such as in `WalkSettlementInterior`.

Let's see if you can look me up in our old sourceforge distro and send me an email. This way, I can cc you to bring you into the loop for discussing this walking bug.

[2020-12-15 18:19] mokun commented on #284
@bevans2000 ,

Sure we should get rid of the recursive structure in Mind and replace with an equitable architecture that preserve the unused time.

[2020-12-15 18:22] mokun commented on #284
@bevans2000

Another thing is about the subtasks.

Currently, it's possible to have a chain of subtasks. Each `Task` object can have one subtask, which is also a `Task` object and so on.

In Person's Window's activity tab, we have space for displaying the main task and its subtask and the 3rd subtask and that's it.

Should we limit how a subtask is created to avoid issues ?

[2020-12-15 20:23] bevans2000 commented on #284
I did fix one problem with walking. The walking speed modifier can go negative with a large inventory, then the Person gets further away. This will be in my changes. But there is definitely a Airlock bug of it not closing the outer door after it has been used, then  o one else can enter.
Also there was a problem with not randomly selecting hot meals. It always took the first meal from the list.
I

[2020-12-15 22:06] mokun commented on #284
Thanks for catching that.

is it when ingressing ? namely coming back from the outside EVA ?

I've seen sometimes they got stuck in one of the 4 chambers and they have already removed the EVA suit.

But somehow they are not able to finish the phase of "leaveAirlock()" in `EnterAirlock` and got stuck and unable to walk out of the EVA Airlock building.

[2020-12-15 22:07] mokun commented on #284
It's possible that it's the same person got stuck in the airlock chamber and unable to eat.

Also, I notice people may get stuck in loading or unloading resources from a vehicle, thus unable to go eat.

[2020-12-17 05:18] mokun opened #290 "Go haywire when returning from power saving"
**Describe the bug**
The simulation session is unable to recover from power saving in Windows 10

**To Reproduce**
Steps to reproduce the behavior:
1. Start the mars-sim
2. Close the lid of the laptop
3. Wait for a few seconds for win 10 OS to enter the power saving mode
4. Open the lid of the laptop and look at the mars-sim's simulation

**Expected behavior**
The game loop in mars-sim is supposed

[2020-12-17 05:19] mokun commented on #290
@bevans2000 ,

How do we make JVM aware of the OS power saving events so that it will respond appropriately ?

[2020-12-17 06:08] mokun commented on #290
@bevans2000

[code]

When I move the time ratio slide in the Time Tool to the left, I notice that the pulse is now limited to a minimum of 0.5 millisols.

Is there any particular reason for that ?

[2020-12-17 07:42] bevans2000 commented on #290
Yes, you can change the default minimum pulse in the XML file. I just choose 0.5 as an abartiary value. Make it smaller.
I can look into this poser issue later today.

[2020-12-17 07:47] bevans2000 commented on #290
Actually I found something similar with the Connecting to earth without a power save. It is a bug to do with someone not being able to finish their walk to find somewhere to connect. The task has a NULL phase and then it never consumes any time and goes on for ever.

[2020-12-17 14:26] #290 closed

[2020-12-17 17:53] bevans2000 opened #294 "CI Mvn build failing"
**Describe the bug**
UnitTests failing in the GitHub CI build

**To Reproduce**
Look at the Actions page for failed jobs.

**Expected behavior**
Doing a clean mvn build locally passes without problem.

**Additional context**
Not sure what this could be ????

[2020-12-18 16:33] bevans2000 commented on #294
This relates the static Unitmanager reference in Building masks that in Unit. I believe that a destroy method is clearing down a static reference such that latest Tests fail.

[2020-12-18 16:33] #294 closed

[2020-12-19 05:52] mokun commented on #288
This [commit](https://github.com/mars-sim/mars-sim/commit/2417908495ab014c8a0913ed1727814ad097808e) is awesome.

[2020-12-19 07:30] bevans2000 commented on #288
@bevans2000 Glad you like it. You can see the idea. Having it based on a Command pattern is perfect for this scenario.
Just a case of converting the old 'if' logic into individual classes. Should be done in a few days.
Also going to use the introduction to tell you some basic details when you first connect to a Unit.

[2020-12-20 23:35] mokun opened #295 "InterruptedException when exiting the simulation"
**Describe the bug/issue**
 - The simulation does not end properly

**Affected Area**
- Receive `InterruptedException` in stack trace when exiting the simulation.

**Expected behaviors**
 - The simulation should quit gracefully without invoking java exception / error messages.

**Reproduction (optional)**
End the simulation in two ways :
- Click on the the exit icon button on the main window
- Cli

[2020-12-22 11:52] #295 closed

[2020-12-26 21:15] #284 closed

[2020-12-27 13:23] bevans2000 opened #296 "Location logic spread around the various Unit class"
**Describe the bug/issue**
The LocationTag & LocationStatusType property logic are spread amongst the various Unit class. Eahc Unit subclass has to know about each other type of Unit subclass. The LocationStateType  is initialised in teh Unit constructor using instanceof; this means the Abstract super class knows about all the sub-implementation which is increasing the cohersion.

**Proposal **
Al

[2020-12-27 13:29] bevans2000 opened #297 "Task isolation"
**Describe the bug/issue**
The TaskManager is widely used outside the Person class which is increasing the cohesion. This also exposed the Mind class to callers.
Both of these should be private implementations of the Person concept.
**Proposal**
The Person class should just expose a getTask method and the getSubTaskX & get TaskDescription should be dropped. The Task should provide a getDescription

[2020-12-27 13:36] bevans2000 opened #298 "Subclass logic in superclasses"
**Describe the bug/issue**
There are areas where the superclasses, e.g. Unit, have logic that is specific to only subclasses. An example is Unitmanager.getAbot that related solely to Settlement objects.. This reduces the separation and increases the dependency between packages/classes.

**Proposal**
Move some methods to the appropriate location.

[2020-12-27 13:41] bevans2000 opened #299 "Mixed use of Unit & UnitIdentifier"
**Describe the bug/issue**
Some classes use Unit Identifier to maintain references. This requires the appropriate Unit object to be lookuped in the UnitManager to apply logic. This will be consuming some element of processing time and memory. ScientificStudy is an example of this approach.

**Proposal**
Using references directly to the Unit will provide a consistent approach without the need for e

[2020-12-28 23:42] mokun commented on #288
Hi @bevans2000,

Thanks for refactoring all the console-related class.

So if you do a pull, I can merge all your changes.

[2020-12-29 07:59] bevans2000 commented on #288
There is just a little bit of tidying up left and testing to do. I'll create a pull request when it ready. I might have time to do it tomorrow.

[2020-12-29 17:40] bevans2000 opened #302 "Robot class is subclassed from Equipment incorrectly?"
**Describe the bug/issue**
The Robot is an active Unit that can do Tasks and move on it's own. But it is subclassed from Equipment that represents passive Units that can not move on their own. This creates some conflict within the code. For example the `Settlement.getEquipment` method does not return Robots; they have a separate get method.

** Proposal **
Move the Robot class to be a direct subcl

[2020-12-30 01:18] mokun commented on #287
@bevans2000

I just did a [commit](https://github.com/mars-sim/mars-sim/commit/f21994df8af307215f3d908e5c67d732b063481e) in that I commented out `logger.info("AddTime not accepted: lastPulse " + tLast)` in `MasterClock` because whenever I put the simulation on pause, this log statement keeps on printing.

[code]
Q: do you still need it to gauge if addTime() becomes false (when acceptablePulse is f

[2020-12-30 01:22] mokun commented on #287
In my simulation, I have `Sleep skipped: too short` from time to time. See below.

Also, I have wanted to keep track of why a person is repeated calling on a task by printing `...had been doing ...x` in Mind. It's been happening frequently since the refactoring.

Is there a better way for tracking this issue ?

[code]

[2020-12-30 07:37] bevans2000 commented on #287
No there is no need for the AddTime info message now if the simulation is paused. The sleep skipped info can also be removed as it just shows the simulation is consuming processing resources.
The problem with the stuck Task causes the sleep skipped message as it consumes processing each pulse. I'm sure there is a bug in the airlock Egress code as these people can not enter the airlock. This should

[2020-12-30 08:13] bevans2000 opened #305 "People stuck trying to enter airlock"
**Describe the bug**
People are getting stuck entering an airlock from the inside. They are waiting for the airlock to become usable. This shows itself by a Task repeatedly not consuming any time.

**To Reproduce**
Not easy to reproduce.  But I think the problem occurs if an airlock is used a second time where the outer door is not shut by the previous person?.

**Additional context**
Add a comman

[2020-12-30 10:21] bevans2000 commented on #299
The method `Unit.equals` is using the Unit name & baseMass in the equals logic. If the `identifier` is the same; then the objects are the same.

[2020-12-30 10:22] bevans2000 commented on #299
Airlock maintains it's own lookup map of id -> Person.  This could be simplified if it used Person directly.

[2020-12-30 12:40] bevans2000 commented on #305
So there are 2 problems going on here

1.  The new approach to the clock is very sensitive to Tasks that do not consume time. When using an Airlock people have to wait for them to cycle and that is causing some false negatives. The `Airlock.addTime` method now reports how much time has been consumed so the Task consumes time when waiting.
2. There is a situation where a Person is outside an Airloc

[2020-12-30 12:45] #287 closed

[2020-12-30 17:51] Urwumpe commented on #302
Maybe we should create an "Robot kit" equipment for allowing to store inactive robots as trade good, and have actions like "packaging/unpacking robot" to make them useful again.

[2020-12-30 20:14] mokun commented on #305
@bevans2000 , you may have already figured this out. But to aid others in debugging this walking bug, I'd post the two rough drafts showing the definition of the zones :

1. EnterAirlock (used when entering an airlock from outside)

![IMG_20201230_120437](https://user-images.githubusercontent.com/1168584/103378707-169ffc00-4a98-11eb-9fe2-3caa37a0e8c1.jpg)

2. ExitAirlock (used when exiting an airl

[2020-12-30 20:40] bevans2000 commented on #305
What makes an Airlock re-pressurise after it has been used? I found cases where the Person is in Z0 in a ExitAirlock Task calling the requestEgress method but the outer door is unlocked and it is depressurised. The Person just spins around the method each clock pulse because nothing is changing. Sometimes someone else uses the Airlock to enter from the Outside and that seems to reset it so the wai

[2020-12-30 23:43] mokun commented on #305
@bevans2000

[2020-12-31 00:29] mokun commented on #164
@bevans2000 ,

Thanks for your latest [commit](https://github.com/mars-sim/mars-sim/commit/29d6e24d5968745657d1174d803a18730ac5f67a)

Feel free to discuss the text-io console here.

@shirishag75 would be interested in knowing.

[2020-12-31 00:45] mokun commented on #305
@bevans2000 ,

I just updated the [Airlock](https://github.com/mars-sim/mars-sim/wiki/Airlock) wiki page.

[2020-12-31 12:11] bevans2000 opened #306 "Have a single means to reference Resources"
**Describe the bug/issue**
There are 2 way used to reference the same Resources. Some code uses Integer values from `ResourceUtil` whilst some use `ResourceAmount`.  The `Inventory` class for example has duplicated methods for both approaches but hold only a single value for each resource no matter how referenced.

** Proposal **
Having a single approach, probably `ResourceAmount`, would reduce th

[2020-12-31 12:24] bevans2000 commented on #164
For me the `Console` represents a text based way to interact with the simulation. So having a UI panel on the console wouldn't be correct.
I see that a headless instance could ruin as a Docker image (I've started playing with this) inside a cloud container, e.g. AWS ECS and a remote connection could be established to manage & monitor the progress. The connection could easily just reuse existing SS

[2020-12-31 12:27] bevans2000 commented on #298
Coming back to the cohesion discussion. If the ultimate goal is to change how the simulation model is stored (either RDBMS or JSON) then the class structure needs refinement in my opinion. This would help reduce the dependency between the various packages and reduce the model footprint.

The Unit class and it's subclasses contain instanceof calls for the subclasses in methods like getVehicle or ge

[2020-12-31 17:57] mokun commented on #306
@bevans2000

I'm not familiar with `ResourceAmount` at all.

We added `ResourceUtil` in the last 2 years as a utility class just for holding sets and maps of `AmountResource`.

Similarly, we added `ItemResourceUtil` for `ItemResource` or `Part`.

That's because we were transitioning into using the id of a `AmountResource` or `Part` for lookup.

The old way was keeping track of all the object refer

[2020-12-31 18:04] mokun commented on #302
@bevans2000 @Urwumpe,

A few years ago, we were discussing how to model `Robot` class to make it more like `Equipment`, rather than `Person`.

`Equipment` has malfunction methods and it requires human intervention to fix the problem (via the software or hardware means).

Q: Can we further develop how a settler may "program" or "instruct" a robot to do useful things for the settlement ?

For now, w

[2020-12-31 18:09] mokun commented on #299
When I was debugging the walking bug and how and why an person can get trapped inside an airlock, it dawns on me that the object references could be the issue.

So I went ahead to have each airlock creates its own map to keep track of who might be inside the airlock and who might be waiting to get in.

The lookup is also faster since the map entries will be extremely small. We only allow 4 persons

[2020-12-31 18:21] mokun commented on #298
Agreed. Whatever refinement you see fit.

Can you give us a real example to illustrate that ?

Yes we can aim for having both eventually.

[2020-12-31 18:23] bevans2000 commented on #306
My mistyping. I meant AmountResource. Having to use integer  identifiers in an object oriented language has to carefully considered.

[2020-12-31 18:33] mokun commented on #296
See [past discussions](https://github.com/mars-sim/mars-sim/issues/134)

We created `LocationTag` for giving a general location (thus `LocationStateType`) of an unit since we have wanted to reduce the cpu utilization of the lookup.

May we have used a bad architecture or approach.

We would look at the previous `LocationStateType` to predict  the new `LocationStateType` that the person is transiti

[2020-12-31 18:40] mokun commented on #297
Yes. Agree.

I thought if a subtask is done, it's set to null and thus removed. Is it not ?

Yes, let's make sure it does !

Also, if a subtask is being removed, then we would need to make sure when the Person Window and other tools display about a person, we would need to watch for some NPE showing up and in that case, we'll need to print blank.

[2021-01-01 00:11] mokun commented on #134
@Urwumpe ,

Are you still working on your `LocationManager` ?

@bevans2000 ,

Feel free to chim in your discussion here.

[2021-01-01 01:48] Urwumpe commented on #306
Short: I say no.

First of all, I am not sure, if we need one and if we are too far into development already to describe things by a EF.

Next, if we need one and can support one, we should use one of the existing onces, which already are great and of a much better quality as we would reach in the next years of development.

So, no. Maybe it makes sense to use an existing entity framework. Could s

[2021-01-01 02:14] Urwumpe commented on #134
Not right now, since I am more than busy with the work needed to finally get my bachelor degree off the todo list in the next months (I grow old, working full-time, studying after work and having two children is too much multitasking for me). Don't expect me to do anything productive before March.

Also, was more busy looking at the JSON serialization and architecture topics in the past months, si

[2021-01-01 08:45] bevans2000 commented on #306
I agreed these is no reason for a massive changes. Let's just standardise on referring to resources as AmountResource.

[2021-01-01 12:35] Urwumpe commented on #302
Well, I also had a rather bad idea about getting software development into MSP (I'll think about it again), but for the robots, we maximally would need configuration tasks, like only doing certain tasks or being limited to certain zones.

Not sure if this really helps the colony now or opens many new cans of worms in terms of AI development. Especially getting the resource management done there co

[2021-01-05 17:27] bevans2000 commented on #298
It seems that the following areas can be simplified and pushed to the Unit Class:

- Identifier - This can be handled solely by the Unit class. Every Unit should have a unique ID.
- Name: All Units have a name property but some subclasses "hide" the name with their own private field, e.g. Settlement. Unit can be responsible for name.
- equals/hashcode - As Units can only be created via the Factory

[2021-01-05 21:09] bevans2000 opened #309 "Potential deadlock in threads"
**Describe the bug/issue**
 - There is a rare edge case where a Thread deadlock situation can occur. The deadlock occurs when one of the SettlementTasks invoke an Event listener attached to the UI. If the listener updates a UI component that is blocked because of a concurrent update they can get stuck on Monitors.

**Affected Area**
 - Not all UI components have the problem.

**Expected behaviors*

[2021-01-14 14:10] bevans2000 opened #313 "MalfunctionFactory & Parts separation"
**Describe the bug/issue**
The `MalfunctionFactory` is responsible for calculating the reliability and recording failures of `Part` types. This requires the manager to maintain 2 Hashmaps keyed on Part.id. There are also methods to calculate the reliability of Parts every Sol.
This is increasing the coupling between different classes.

**Expected behaviors**
Add the concept of Failure & Reliabilit

[2021-01-15 04:00] mokun commented on #313
@bevans2000 ,

Currently, the repair of a malfunction is a little finicky.

There are 3 types of repair (general, emergency and EVA).

See the malfunction wiki at https://github.com/mars-sim/mars-sim/wiki/Malfunctions

When there's a malfunction in a building, it will look for a chief repairer and an assistant repairer.

But the process is still broken and more than these two persons will show up

[2021-01-15 18:45] mokun commented on #288
@bevans2000 ,

Can you check why the autocomplete feature for getting settlement names or other's names no longer work ?

![image](https://user-images.githubusercontent.com/1168584/104765971-9f689a00-571e-11eb-8486-98cdd834776d.png)

[2021-01-15 19:36] bevans2000 commented on #288
I think its working. The change to the connect command is the Unit name goes on the same line. I tried to remove the interactive nature of the commands if there was only one input. Thi sis make the interaction quicker with most being done via single commands.
So try

1. Try 'connect S' or '/c S' don't press enter.
'2. Hit tab, key this will present the first unit names starting with S. (S is a goo

[2021-01-16 14:07] bevans2000 commented on #288
@mokun did it work? I think having commands on a single line is better because they work with the up & down history. Resources and levels are other examples

[2021-01-16 22:22] mokun commented on #288
Yes it works. Guess this is a little different from what it used to be and it's probably better this way.

The tab key now presents all the names from settlements, vehicles, settlers, etc.

[2021-01-16 23:09] bevans2000 commented on #288
The tab key also does partial matches as well, so typing Z followed by tab will return all Units starting with a Z

[2021-01-18 11:18] bevans2000 commented on #288
The tab key also works for most arguments, e.g. connect to a Settlement and run >resources hit the tab key. This presents the various types of resources applicable.
Can we close this now?

[2021-01-18 16:49] bevans2000 opened #314 "ScientificStudyManager thread safe issue"
**Describe the bug**
There is a rare case when the simulation is run with a high number of Simulation threads that a ConcurrentModification exception is thrown. There is a Person getting their collaborative studies in one thread and a different thread is creating a new Scientific Study. They both access the global `studies` List; one write and the other reads.

**To Reproduce**
Need to run the sim

[2021-01-18 17:12] Urwumpe commented on #314
I have a plan to create a simulated product lifecycle management system for each settlement as settlement service - could this, especially the document management system aspect, maybe help there to reduce the simultaneous accesses to certain information artifacts?

[2021-01-18 17:33] mokun commented on #288
Yes it works.

[2021-01-18 18:28] mokun commented on #314
I did notice a lot of `ConcurrentModification` exceptions as soon as we start to create a separate thread for each settlement.

When a person performs a task, at the end, it will see if he is skillful enough to avoid accidents and it will add skill experience points to that individual. Sometimes `ConcurrentModification` exceptions will happen as a result.

[2021-01-18 19:51] bevans2000 commented on #314
As expected, we just need to chase these down and convert them I to a Settlement based objects instead of global variables. This one should be easy to fix, I will have a look later this week.

[2021-01-18 20:06] Urwumpe commented on #314
Since MSP is by heritage an agent simulation, we should maybe put the focus on letting the agents decide things locally, instead of using too many global variables and thus global decision processes. The agents should just learn how to get important "global" data into the "working memory" of each to be used by actions, and how to write back the results of such actions into a "global" datastore aga

[2021-01-18 20:39] bevans2000 commented on #314
Yes I agree that's a good approach. For "agents" we can read any Unit. The global manager classes should be to provide a consolidated view. I have done this with ScientificStudy with the agent being the lead researcher. In #313 there is an idea to do the same for Parts to control their own MTBF and reliability.

[2021-01-18 20:58] mokun commented on #313
We have various discussions related to modeling malfunction in this thread [here](https://github.com/mars-sim/mars-sim/issues/194)

[2021-01-25 10:13] #314 closed

[2021-01-28 09:02] bevans2000 commented on #313
The discussion is interesting with good ideas. Initially I would like to refactor the Parts & `MalfunctionFactory` so `Part` class manages it own MTBF.
I think also the `Malfunction` class would benefit from being split into 2. At the moment it contains properties that define the problem and properties that relate to fixing the problem. The `MalfunctionConfig` should just return the definition of

[2021-01-29 20:14] mokun commented on #313
So,

Do we want to treat the MBTF & reliability statistics GLOBAL in nature ?

In terms of recording malfunction events, we still have one GLOBAL `HistoricalEventManager` for doing the job, instead of having each settlement keeping track of their own malfunction events.

I suppose that for now, we treat all "EVA Suit" having the same quality, as if they are manufactured from the same factory.

In

[2021-01-29 23:26] bevans2000 commented on #313
I think global per Part is fine for now. I have found 2 problems so far in working with Malfunctions:

1. Any malfunction is added twice to the `MalfunctionManager`. Don't know why yet but I'm going to rework the code then revisit it. There are some near duplicate methods that can be consolidated.
2. If you create a malfunction in a vehicle that needs an EVA then there is a ClassCastException in A

[2021-02-06 15:07] #313 closed

[2021-02-09 15:29] bevans2000 commented on #297
Started looking into this activity. I think the first step is to consolidate Robot & Person into a common `Worker` interface around which the Tasks can be based. This interface would present `SkillManager` and `AttributeManager`; the latter being a subclass of the Robot & Person types.
This `Worker` interface could be applied to Malfunctions and other places. I think it is a generalisation of the

[2021-02-09 17:56] mokun commented on #297
Okay. `TaskManager` and `BotTaskManager` are very similar. It was for clarity sake that I created `BotTaskManager` just for robot use.

[2021-02-09 18:02] mokun commented on #297
@bevans2000 ,

I'm trying out a PC game called Foundation recently. Like other strategy games, it allows players to pick one job for each person at a time only.

And this job title is associated with one and only one task.

This is a lot simpler and cleaner than what we've been doing in mars-sim.

Do you think we should return to this simple way of implementation ?

[2021-02-09 21:38] bevans2000 commented on #297
I think the current strategy is good that every Person can do any job. In a small Settlement everyone would have to be a generalised. Maybe once we simplify the Task we should look to weight the Task probabilities more to the Person's job.

[2021-02-09 21:41] bevans2000 commented on #297
I think that's fine, we can look to consolidate any logic into a single AbstractTaskManager if possible.

[2021-02-09 21:51] bevans2000 commented on #194
I have done some rework on the Malfunctions to separate the attributes of the fix away from the definition of the fault. The latter is now a new class `MalfunctionMeta` that is  immutable and shared by other `Malfunction` objects. These now become a record of an actual problem. The repair work has been made generic so it will be easy to add other types of work activities in the future.
I've got so

[2021-02-15 22:33] bevans2000 commented on #194
Quick update. I have been testing and fine tuning the new `MalfunctionMeta` approach. During this I have undercovered some unwanted initialisation dependencies between some of the key configuration classes. THis means sometimes the simulation would not reload. I think I have sorted the current batch now but the static references between the main classes may cause a problem again. So I have reworke

[2021-02-16 17:13] mokun commented on #194
@bevans2000 ,

Yes I suppose the new concurrent threading approach that we have adopted recently might have been causing some of the static reference to load out of proper order.

Or it could be something else lurking underneath ?!

Also, the steps of starting from a brand new sim is slightly different from the steps of reloading a saved sim, if we are not careful.

Let's see if there are more of

[2021-02-17 21:09] bevans2000 commented on #194
I have committed a large batch of changes that rework the Malfunction area to simplify the dependencies.

[2021-02-19 10:59] bevans2000 commented on #305
@mokun  Where to start with this problem..... I have found 3 real issues:

1. There are ClassCastExceptions when people try to enter a Vehicle Airlock. This is because the logic using zones is only applicable to Building Airlocks but it is referenced in the generic flow. Method `Airlock.isInZone` is never going to work.
2. People get stuck in the enter airlock phase because the doors are not in th

[2021-02-20 00:26] mokun commented on #305
There is a few walking related classes. I'd say they are the main culprits.

Yes. We can have a common super class if it can simplify things.

[2021-02-20 08:49] bevans2000 commented on #305
But what about zones? Should they be used in Vehicle Airlocks since it is a big hole at the moment.

[2021-02-20 09:16] scud1 commented on #305
I'm currently doing some work to fix bugs in the walking tasks and airlock code.  I'm working with a checkout of the code from back in October/November, so I maybe a bit out of date and have some merging work ahead of me.

I think I have the walking tasks fully functional again.  There were a few major bugs, including one that made people walk backwards when over encumbered.  I'd like to refactor

[2021-02-20 21:05] bevans2000 commented on #305
I like the sound of a Walkable interface. I thought of something simliar to represent a worker in  #297. Once you deliver this change we can use it as a base to do a refactoring of the Task area.

[2021-02-22 17:49] mokun commented on #305
I'd say defining zones are good because in each zone things happen uniquely and differently.

In future, we may even define in more detail than now, the real logistical things that need to happen in each zone for ingress and egress.

I wonder if logistically speaking, we would treat the vehicular airlock the same way as the building airlock.

After we make everything working, we could fine tune wh

[2021-02-22 17:57] mokun commented on #305
@scud1

Scott, we've since redefined all the phases in the last 3 months or so. Though they bear the resemblance, the original airlock code have been heavily modified.

I'm still wondering how well things work if a person already have a main task and he needs to start a subtask for walking to a destination.

In that case, `Mind` should be able to stop the main task and work on the walking subtask

[2021-02-22 21:10] bevans2000 opened #320 "Create a separate FishFarm Function"
**Is your feature request related to a problem? Please describe.**
Move the fish farming and bee keeping to separate Building Functions. This allows a new Building of FishFarm to be created and bees to be used in only the bigger greenhouses.
Also this will allow the creation of new Tasks to replenish the fish and honey stocks.

[2021-02-23 07:34] scud1 commented on #305
I'm still trying to understand your concept of zones and the 4 chambers of
an airlock.  I see them mentioned in several places but I'm not sure what
your overall concept is and how it would work.  Could you explain it a
little more clearly for me?

The airlock concept I'm working on is a fairly simple idea, although I'm
sure more could be added to it.  It's a small chamber built into a building
or

[2021-02-23 08:14] scud1 commented on #305
I may need to merge in new features once I get the simple airlock I'm
working on finished.  I first want to create a reasonably simple airlock
system that doesn't produce any problems with people/robots using it.  No
one gets stuck inside or waiting outside the airlocks, regardless of how
long the simulation is run or the time compression used.

I think the walking code with its tasks and subtasks

[2021-02-23 08:46] bevans2000 commented on #305
@scud1 I like the idea of it being simple and agree that that `EnterAirlock` & `ExitAirlock` can be confusing in terms of names.
In terms of the merging, I can imagine it might be quite difficult. Have you considered creating yourself a branch and committing your changes to that first; giving you a rollback point. Then merge into the branch from master.

[2021-02-24 10:55] bevans2000 commented on #320
As part of this work I think I've uncovered a mistake in the logic concerning `ResourceProcess`. The ResourceProcess instances are created in `BuildingConfig` and shared for the same the Building Type. The `ResourceProcessing` function class then retrieves the ResourceProcess objects according to the parent Building Type and then owners them. However if another Buliding of the same type is created

[2021-02-25 04:38] mokun commented on #305
Sorry for the lack of clear descriptions.

Zones are created because the movement through an airlock is unique in each task phase.

Whether it's ingress or egress, there's always a total of 5 zones.

There are 8 task phases in both `EnterAirlock` or `ExitAirlcok`.

For instance, in `requestEgress()`, you'll see calling method `transitionTo(int zone)`.

It simply means at some point in that phase,

[2021-02-25 06:41] mokun commented on #320
Link this to its [discussion](https://github.com/mars-sim/mars-sim/discussions/319)

[2021-02-25 06:45] mokun commented on #320
Great that you caught this.

I'm also wondering why the cpu utility spiked up since we started implementing the settlement partition in concurrent threads. Any particular reasons ?

Question, if we one day implement the object database for storing values, would we still be using these  `Inventory`-related class ?

[2021-02-26 13:58] bevans2000 commented on #320
So I've found a potentially even bigger problem but I'm not sure. The `Building` class is serialised in a simulation save but none of the `Function` objects are; they are only reference via a transient List. This means each time a simulation is reloaded the Functions are recreated, for example `Farming` will pick a new random set of `Crops`. Any state that is held in teh Function objects or their

[2021-02-26 18:05] mokun commented on #320
True that building functions aren't serialized.

I wonder how it would affect the greenhouse crops since I thought the crops are serialized

[2021-02-27 08:59] bevans2000 commented on #320
I have done a couple of tests and the Crops are different after a reload. If the Crops are not referenced by a serialised object they will  not be saved. Moreover, the Farming class is rebuilt in the Building.
On face value this is easy to fix by removing the transient from the functions property in the Building class. However this might cause problems on the reload due to the very complex referen

[2021-02-27 19:53] mokun commented on #320
I've wanted to make the `Building` objects smaller by not serializing the `Function`. The list of `Function`(s) is the same for each type of `Building`.

But I probably fail to account for how greenhouse and other functions do have persistent objects that need to be serialized.

So, how or in what fashion do we organize what to be serialized ?

Java serialization has some built-in ability to simpl

[2021-02-27 22:22] bevans2000 commented on #320
Functions and the objects they reference have state so they need to be saved.
Saving just the Person identifiers makes sense because it will slightly reduce the save size but the big benefit is it reduces the object references when reloading. We can hold Person collections in a dedicated new class allowing a Person reference to be held in  memory but only serialised the ids.

[2021-03-03 09:18] bevans2000 commented on #297
Whilst working on issue #320 I discovered that creating a new `Task` involves changing a lot of classes. It would be better if the `TaskMeta` is registered once and then everything else is driven by the meta class. In particular the class names have to be declared in the Person `Preference` and `Job` classes.
To achieve this we should added a new `TaskAbilities` and `FavourType` properties to the

[2021-03-05 23:56] mokun commented on #320
Great that you added `TendFishTank` and [TendFishTankMeta](https://github.com/mars-sim/mars-sim/commit/832f5a9ea4c10cf7f31c1971d4b68d1738ca47f2#diff-9e007cf0ab3d509a550bbe74b22073bd55eb535ad2fcacd7750ec0cf8756ccf4).

Now the Biologists/botanists have new tasks to do.

Btw, the [TendGreenhouse](https://github.com/mars-sim/mars-sim/blob/master/mars-sim-core/src/main/java/org/mars_sim/msp/core/person

[2021-03-06 08:30] bevans2000 commented on #320
Yes the task needs some tuning. Also any fish caught are not added to the inventory yet

[2021-03-06 22:33] mokun commented on #320
@bevans2000 ,

Can you commit all the changes made so far ?

Even though it's not 100% complete, it's better for me to start from the latest copy of mars-sim you have.

There are few things in other areas I'd like to change.

[2021-03-06 23:14] bevans2000 commented on #320
I'm pretty happy with this last commit. I have reworked the `BuildingConfig` to consolidated the numerous common attributes. This has removed a lot of duplicate code.  I will merge the changes on the branch now and then tidy up any snags.

[2021-03-06 23:37] bevans2000 commented on #320
I should have said. I haven't got the Unit Test working yet because they use a non-existent Building Type which breaks everything in the walking tests. This should be easy to fix tomorrow by making `MockBuilding` a real configured type. Also each test has  the same initialisation code so it should be using a `@Setup` method.

[2021-03-06 23:54] mokun commented on #320
@bevans2000 ,

By the way, we may as well update our wiki on [Food Production](https://github.com/mars-sim/mars-sim/wiki/Food-Production) as we are working on getting the fishery and beehive to work.

[2021-03-07 00:39] mokun commented on #288
@bevans2000 ,

In MarsNet, we have the text output :

What do you want to be the difference between typing in `/?` and `help` at the prompt ?

I look at `HelpCommand` class and saw

[2021-03-07 07:41] bevans2000 commented on #320
Sure good point

[2021-03-07 07:47] bevans2000 commented on #288
The way this is approached is the `/` command is just a short cut to typing the longer command. So at the moment both point to the same `HelpCommand`. Are you saying there should  be 2 outputs from help?

[2021-03-07 10:02] mokun commented on #288
Because you output like

I thought "More detailed" meant more comprehensive examples.

So `>/?` is *short* help while `>help` is *long* help. Is it not ?

[2021-03-07 16:31] bevans2000 commented on #288
Hahaha Yes I can see now how the banner text could be misinterpreted. Probably needs to be changed to make it clear the short command name & long command name are actually the same command. I always use the short form but on Settlement there is a conflict with 2 Commands having the same short format name.
Generally I think the new Console framework is working well. It is much easier to add new Com

[2021-03-08 02:03] mokun commented on #288
Yes. It's extensible now and that's fabulous. Appreciate !

Great ! So I suppose bees can be found in regular greenhouses, right ?

[2021-03-10 13:55] mokun commented on #320
Right now, by default we give New Pompeii a fish farm.

I was thinking of making fish farm initially available to a Japan Aerospace Exploration Agency (JAXA)'s settlement because they would love to make sushi out of the fish :D

![image](https://user-images.githubusercontent.com/1168584/110638587-96ff6f00-8163-11eb-8f96-8934096970a6.png)

Also, see the red box in the pic above, the Tank Size shoul

[2021-03-10 14:43] bevans2000 commented on #320
Hahaha. It is actually an 'l' meaning litres. Just doesn't come out very well. I'll change it to the work 'litres' to make it clearer.

The actual number needs some adjusting. 10K was an initial guess; 10K litres would occupy a tank that is 10m2 which is probably smaller that the dedicated Fish Farm building could hold. But they can not be too high; they need a large surface area.
Also there is a

[2021-03-10 15:05] Urwumpe commented on #320
Well, 10 cubic meters is a lot of water, if it has to be produced on Mars or be transported from Earth. If the aquaponics start with shrimp, even far less water could be enough for a small sustainable production.

[2021-03-11 00:08] Urwumpe commented on #320
Yeah, though I think it COULD work out with vertical farming and a really huge greenhouse - and maybe a more resourceful species of bees. Sure nothing that can be constructed easily. Especially on Mars.

[2021-03-11 13:26] bevans2000 commented on #299
What are the thoughts on creating a dedicated `UnitIdentfier` class instead of using an Integer? This class would be a composite key composed of the UnitType & an integer identifier. The benefit would be to speed up lookup logic in `Unitmanager.getUnitByID` which is called many times. This method could use the unit type property to optimise the lookup.

[2021-03-11 20:21] #320 closed

[2021-03-11 20:23] #288 closed

[2021-03-11 20:30] bevans2000 commented on #240
I found and fixed a bug for this in December. There was a coding mistake so the next meal to cook was always the first one in the list not one at random.

[2021-03-11 20:30] #240 closed

[2021-03-12 08:19] mokun commented on #299
True that we can bypass the use of `UnitManager` and go with `UnitIdentfier` if it speeds things up.

But how will it affect our future plan of we *transfer* a person from, say, a simulation that runs in machine A to a simulation that runs in machine B ?

[2021-03-12 08:57] bevans2000 commented on #299
Well it actually would help because the `UnitIdentifier` could eventually hold a property identifying the controlling server. Each Unit would then have an "Owner" responsible for updates and applying time.

[2021-03-12 09:34] bevans2000 commented on #273
Duplicates #278

[2021-03-12 09:37] bevans2000 commented on #272
duplicate of #278

[2021-03-12 09:43] bevans2000 opened #321 "Everyone rushes to repair Malfunctions"
**Describe the bug**
When creating a large Malfunction; many people rush to repair it. Also in some cases the Chief & Deputy repairs keep getting changed.

**To Reproduce**
Use the Console in Expert mode and create a malfunction of a lower severity. Many people will rush to repair the Malfunction.

**Expected behavior**
With the malfunction configuration there should be a maximum number of active

[2021-03-17 15:03] CoffeeAddictAnonymous opened #325 "Colonists can't get to fish farm? (github version)"
**Describe the bug**
The error log was being spammed by everyone unable to get to the fish [farm]

**To Reproduce**
Steps to reproduce the behavior:
1. Left the game running overnight as I slept in sandbox mode

**Screenshots** (no screenshots, almost everyone died, only had 1-2 people left in each colony so I abandoned the game but noticed this in the log)
00-Kireal-12:384.329 (Severe) WalkingSte

[2021-03-18 12:18] bevans2000 commented on #325
Guilty, my mistake. I reduced the dimensions of the Fish Farm Building but didn't change the Activity spots. 2 of the spots will be outside the building now.
I will fix this.

[2021-03-18 12:20] bevans2000 commented on #325
The deaths are due to a know bug #305 that is being worked on. Settlers get stuck in the Airlock for some reason and run out of air.

[2021-03-18 20:08] #325 closed

[2021-03-18 20:20] bevans2000 commented on #297
First step I am going to is to create a `Worker` interface that allows most of the differences between Person & Robot to be centralised. This will remove duplicate code and consolidate what there is. To support this the Attributes shall be consolidated into a single `AttributeManager` from which the `RobotAttributeManager` and `PersonAttributeManager` will be subclassed.

[2021-03-21 22:31] mokun commented on #321
With the malfunction configuration there should be a maximum number of active workers defined to prevent simple malfunctions consuming too many people.

Yes. There should be a prioritization of manpower.

Guess it's ok for anyone to RUSH TO THE SCENE to find out what's going on.

But when it comes to repair, we only need the ones who have been trained to repair specific items to show up.

There va

[2021-03-21 22:37] mokun commented on #321
btw, everyone living a life in a small colony should be spending a lot of time to be TRAINED in emergency management.

That means a lot of TRAININGS.

Guess we can write up some code for various types of training under each career.

There should be HEALTH AND SAFETY TRAINING and SURVIVAL TRAINING of some sort.

Getting everyone or a group of people in a conference group and do some hands-on traini

[2021-03-22 10:25] bevans2000 commented on #321
Yes I will try and do it this week.

[2021-03-24 04:35] mokun commented on #325
@bevans2000 ,

We currently have `Fish Farm` building having the same size of 6m x 9m as an `Inflatable Greenhouse`

[code]

However, we also have `Large Greenhouse` with a fishery inside.

Q: Is it still needed ?

[code]

[2021-04-08 19:28] mokun commented on #321
@bevans2000

May be we can make use of a simplified **Producer/Consumer** model to account for repairing malfunctions ?!

When a malfunction happens, the system will "produce" a malfunction and store it in a malfunction task buffer of a type.

Then a person having the qualifications and training certification will be activated and "consume" that malfunction task in a particular task buffer.

Also,

[2021-04-21 18:56] Urwumpe opened #326 "Can't compile mars-sim.core: "jcommander-1.75.jar; invalid manifest format" and test code in production code"
**Describe the bug**
When compiling the project with a OpenJDK 11 release using Maven, the compilation fails because one dependency has a small glitch in the manifest (The lines are duplicated). Possible that other JDKs ignore the duplicates, I used the Amazon distribution there in this case.

The jcommander dependency is only used for running old AI test code. Such tests should first of all have

[2021-04-27 05:25] mokun commented on #326
Yea we could use jcommander for more streamlining the processing of command-line input switches in future.

But for now, we don't need it and have just commented it out.

[2021-04-27 05:32] mokun commented on #302
The thing is that previous developers have already coded too much automated tasks.

So perhaps now the question is, should you disable some of these automated tasks ?

May be we should envision creating some sort of drag-and-drop interface to let the player commander to do some creative tasks of navigation, extraction, and production activities of drones, etc.

[2021-04-27 05:34] mokun commented on #302
@Urwumpe @bevans2000

What is the next thing we should change to make player to be responsible for more decisions ?

[2021-04-27 07:31] mokun commented on #326
@Urwumpe,
My bad. jcommander is still needed for some kotlin class files during maven compile. Can't get rid of that yet.

[2021-04-27 08:37] Urwumpe commented on #326
Yeah, but as I said, it seems to be just test code for some AI improvements, nothing critical. I just didn't want to rule over your code, but would it have been my code, I would have erased it and just kept a backup for returning to the idea later.

A much better solution for such tests would be an application package of its own, so that the mars-sim.core world is a pure library.

[2021-04-27 08:46] Urwumpe commented on #302
What about giving some entities priorities? For example for mining locations, that should be prefered when creating a new mining mission.

How these priorities are used, could be different depending on the subject, but changing priorities could re-use the same UI for the player and could also provide the same interface to AI for doing the same activity.

[2021-04-27 14:40] bevans2000 commented on #302
This makes sense to open it up the Commander approach needs to change so that it is not a global Singleton but a controller attached to a Settlement; thinking of multiple users in the future. And that comes to my thoughts on the future. I'm interesting it improving the base engine and framework such that Tasks/Functions are easier to add and eventually more it to be server based. Allowing an simul

[2021-04-30 17:00] bevans2000 opened #329 "Vehicles are still "attached" to a Settlement when driving, Vehicular Airlock issue, Navigation Tab crash"
**Describe the bug**
When a Vehicle is driving around the Mars surface away from a Settlement it is still reported as at a Settlement; note I'm not talking about Associated Settlement which correctly never changes. This is about the parent container. This means location for the vehicle is incorrectly reported in numerous places.
Also this means the SimLogger can not correctly report the position o

[2021-05-01 08:24] mokun commented on #329
I wonder if the `updateVehicleState()` in `Unit` is the culprit.

https://github.com/mars-sim/mars-sim/blob/268450799240173dc9bc0b4b025fc359dd4b4a38/mars-sim-core/src/main/java/org/mars_sim/msp/core/Unit.java#L756-L826

The new LocationStateType should become OUTSIDE_ON_MARS and the vehicle panel should display the coordinate of the site.

However, it could be just the vehicle panel itself or the

[2021-05-01 18:57] mokun commented on #329
![image](https://user-images.githubusercontent.com/1168584/116792190-f6973e00-aa73-11eb-91bb-59a56b1badcf.png)

See stack trace below

[2021-05-01 18:59] mokun commented on #329
Once in a while, I have the following issue with `MaintainGroundVehicleEVA`

[code]

[2021-05-01 19:58] mokun commented on #329
Vehicles have trouble disembarking the passengers as follows :

![image](https://user-images.githubusercontent.com/1168584/116793649-d1f39400-aa7c-11eb-850d-fdcea19aa5af.png)

[2021-05-01 20:18] bevans2000 commented on #329
I have found this problem elsewhere in Tasks that are subclassed. The super.performMappedPhase is completing the Task a d hence the phase is null. This bug must have been around for a while. The fix is to check that the Task is not done after the super call.

[2021-05-01 20:33] bevans2000 commented on #329
The root cause of these problems is the airlocks bug. People get stuck and abort the Task during enter building phases managed by the base EVAOperation class. But none of the subclasses are prepared for the abrupt completion. It is easy to fix making the subclasses check the isDone method. I have some changes pending so I can fix it as part of that.

[2021-05-01 20:54] mokun commented on #329
I've just offered a temporary fix for anyone getting stuck while being inside the airlock.
See this [commit](https://github.com/mars-sim/mars-sim/commit/268450799240173dc9bc0b4b025fc359dd4b4a38)

As you can see from that snapshot I posted above, a total of 4 settlers are standing outside on the surface of Mars pretty much doing nothing.

I wonder what's blocking them from coming into the airlock.

[2021-05-01 22:23] mokun commented on #329
I just found out one culprit seems to be the "transient" modifier on a few data members in `Unit`.

That's why when I load from a sim, the vehicle mission no longer works.

https://github.com/mars-sim/mars-sim/blob/779c942971bcfb2bd4d74ea82e1fce893747ba90/mars-sim-core/src/main/java/org/mars_sim/msp/core/person/ai/task/utils/Task.java#L104-L112

[2021-05-01 22:49] bevans2000 commented on #329
This isn't the problem because the method Task.reinit recreates these transients. I feel the ui issue maybe the Task gets completed during the rendering so it is in an incomplete state.

[2021-05-01 22:59] mokun commented on #329
Could be it never create these data members properly.

When I removed the transient keyword, the problem seems to go away for the time being.

[2021-05-01 23:01] bevans2000 commented on #329
@mokun If you make non-transient then you need to tidy up the code and remove the reinit method plus the teacherId & id attributes as they are no longer needed. But you need to check the sim correctly reloads because this will add to the saved dependency graph and may cause problems on reloading.

[2021-05-02 08:03] mokun commented on #282
@bevans2000 ,

This bug has not been resolved. How would you resolve this ?

Say a vehicle A used to be outside when they started loading the resources.

At some point in time, a garage space was vacated by an outgoing vehicle B just embarked.

Logically speaking, vehicle A should go into this empty garage space and resume loading resources there.

However, the settlers do have been given the task

[2021-05-02 17:13] Urwumpe commented on #282
I suggest to simply follow RACI there.

We need to define ONE settler who is accountable for loading the cargo and who defines where the rover is during loading. Not something implicit decided in multiple places.

Also, this rover should be attached to the mission and nobody outside that mission should be allowed to move it. When we interrupt loading the cargo for moving the rover into the garage,

[2021-05-02 19:27] mokun commented on #282
@Urwumpe

Yes. We just need to add the ability of following the chain of command in the mind of the settlers in this case, and not having a mind of their own :D

Sure it's really great idea for having a cargo master and the rest of them would follow his lead.

Right now, the Activity tab of a person's window shows the Main task, the subtask 1 and the subtask 2. It seems there have been circumstanc

[2021-05-02 19:36] mokun commented on #329
True. We certainly prefer to serialize only the id of a person, instead of the object of `Person`, as serializing a person object within the `Task` to create some sort of "object chain", making the saved sim very large.

Can you help taking a look at it to see what happen ?

Another thing is that we should transition to JSON serialization soon.

[2021-05-02 20:17] bevans2000 commented on #329
This is a tricky one as I don't like having to reinit objects explicitly are loading objects. But it this case using the identifier as persistent attributes makes sense.
The JSON serialisation is not good with object graphs so we would need to utilise identifiers more. I think the correct approach maybe to  develop a UnitReference<T extends Unit> class that could encapsulate the persistent identif

[2021-05-02 20:40] bevans2000 commented on #329
I think this may be due to the Task referenced being completed via the `endCurrentTask` method which in term calls the `destroy` method which will clear numerous attributes that are mandatory. The `destroy` method approach is an anti-pattern. The use of destroy leaves objects in an incomplete state but they may be still referenced, e.g. the VehicleMission the driving Task.

[2021-05-02 21:05] bevans2000 commented on #329
I have changed all the subclasses of `EVAOperation` to correctly check whether the Task is done after the call to `super.performMappedPhase`. e4eca3b539f65788277c471a7af97f2c0da2e479  I will put this commit into a Pull Request.

[2021-05-02 21:29] Urwumpe commented on #282
No, simply one abstract thing that is absolutely necessary for performing that mission. It could be a person, a rover, a tool, food, water, fuel, etc. Just something that is needed for acomplishing the mission. A spare tire could of course be a valid resource for the mission, if you include spares. But I really mean it as in the first sentence.

We could create templates for such missions that jus

[2021-05-02 23:58] mokun opened #330 "Day Dreaming outside on the surface of Mars"
**Describe the bug/issue**
Can't walk and not motivated to go back in, even when hungry and thirsty

**Affected Area**
 - ExitAirlock, Ice Prospecting Mission, EVAOperation, Walking, etc.

**Expected behaviors**
 - When done with collecting ice, go inside.
 - If hungry and thirsty, go inside to eat and drink

**Actual/Observed Behaviors**
 - Seems getting stuck doing Day Dreaming only outside on t

[2021-05-03 00:06] mokun opened #331 "No Favorite Activity defined for crew members"
**Describe the bug/issue**
 - No Favorite Activity for pre-defined crew members
 - The `FavoriteType` object was null.

**Affected Area**
 - What area(s) are we dealing with ? [e.g. Construction, Mission, Resupply, Settlement Map, Mini-map, Saving/Loading Sim, System Exceptions in Command Prompt/Terminal, etc..]

**Expected behaviors**
 -  Any member should have all `FavoriteType` objects defined

[2021-05-04 00:21] mokun commented on #329
Sure. pls do.

[2021-05-04 16:54] bevans2000 commented on #330
The DayDreaming Task is the default and has the lowest priority so can always be execute; basically it suggest something has gone wrong. If they are outside then cooking a meal will not be an Task option.

[2021-05-04 16:57] bevans2000 commented on #329
There is still a problem with leaving a Vehicle airlock. The Airlock code has an explicit cast to BuildingAirlock in the isInZone method which is never going to work for a Rover. Looks to me like the Rover Airlock has no notion of zones.

[2021-05-04 17:07] bevans2000 commented on #330
I think the EVA Operation in the performMappedPhase method has to check the health of the person and if unfit then force them to go back inside. The EVAOperation is the correct place for the check; then it will get applied to all EVA tasks. All EVA Task should use a common Phase for coming back inside.

Something like

[code]

[2021-05-04 21:38] mokun commented on #330
This scenario show it's Ushi Cheng is still "Day Dreaming" while being outside. She's also sick.

The other 3 outside are loading the rover but appear frozen in place and sick with high fatigue/thirst/hunger.

![image](https://user-images.githubusercontent.com/1168584/117072931-12097f80-ace6-11eb-84c4-18f04b258344.png)

[2021-05-04 23:15] mokun commented on #330
@bevans2000

May be we need an EVADayDream as the base level if a person is outside (or default to WalkOutside or something).

[2021-05-05 04:50] mokun commented on #305
This [commit](https://github.com/mars-sim/mars-sim/commit/493108bff30b25b8d26f55048093d64be32f59ad) added back the codes in `ExitAirlock`.

So if the airlock is empty and the chamber is NOT pressurized, anyone who wants to do an EVA egress should be able to pressurize the chamber, unlock the inner door, and walk right in to put on the EVA suit to prepare to go outside.

[2021-05-06 08:13] mokun commented on #330
@bevans2000

How do you reactivate a person up from Day Dreaming ?

May be we can add an expert command in the console to reawake him for testing purpose ?!

[2021-05-06 12:23] bevans2000 commented on #330
Day Dreaming is just a short task; so if new Tasks become available the Person will take them on. Go to expert mode in the console and try the `work` command. It will show you the Task Porbability map for a Person.

[2021-05-06 20:28] bevans2000 commented on #329
It looks better now but for Vehicle I get the following stack.
[code]

Then the Airlocks becomes blocked because those already in it cannot leave. Basically airlocks in Vehicle will never work with the current code base. I feel the Zones logic needs to be moved into the `Airlock` base class.

[2021-05-06 21:33] mokun commented on #329
@bevans2000 , @Urwumpe @scud1

Yes.

I'll work on vehicular airlock today and tomorrow.

So what kind of operational constraints do we want to simulate in a vehicle airlock ?

A building airlock would be a lot more furnished than a vehicular airlock I suppose.

It would have less room for sure. Space would be more limited.

@bevans2000 ,

Can I ask you to work that common base afterward ?

[2021-05-06 21:59] bevans2000 commented on #329
Apart from capacity do they have to be that different? It will make it easier if the 2 are similar.

One approach would be to replace the abstract methods in `Airlock ` with those in `BuilidingAirlock`. Then the `EnterAirlock` and `ExiitAirlock` would only have limited specialisation for a Rover or Building.

[2021-05-06 22:42] mokun commented on #329
Other than the capacity, the exact coordinates of both side of the inner door, both side of the outer door and the spots where the settlers are donning and doffing the EVA suits are all different as well.

[2021-05-07 03:25] mokun opened #333 "The person who assists researcher is sick (hungry and thirsty), stuck when exploring site / collecting resource in vehicular airlock"
**Describe the bug/issue**
 - The person cannot quit assisting researcher so that he may properly eat/drink/sleep.

**Affected Area**
 - The task `AssistScientificStudyResearcher` shows up in *Monitor Tool* and the *Activity Tab* in *Person Window*. However, the task is NOT reported in *Schedule Tab* in *Person Window*.

**Expected behaviors**
 - The person should end the task so that he can eat/d

[2021-05-07 04:21] mokun commented on #329
@bevans2000

Now let's go back to the original purpose of this issue tracker.

I was going to say at this point (build 5646), loading from a saved sim would render a mission broken.

The rover driver's name is printed on the Mission tab in Monitor Tool. But in reality, no one can drive the vehicle anymore.

Any insight on why this is the case ?

[2021-05-07 06:01] bevans2000 commented on #329
I did see this problem and had a look. The `Vehicle` attached to the `Mission` has an operator assigned which correctly stops others driving when looking for a new Task.. But the `Person` is not doing a driving Task. It should be easy to fix the symptom by checking if the calling Person matches the Operator and allowing them to resume driving.
I don't know what the true cause is though.
I can make

[2021-05-07 16:37] bevans2000 opened #334 "Task & Building classes are not Serialised"
**Describe the bug**
The Task and Function classes are not Serialized in a save. This is due to transient properties in `TaskManager` and `Building`.
The issue is some Task instance are referencing `Function` implementation that are not fully serializable which means IF the TaskManager persisted the current task there is a change that it will fail depending upon what the concreate Task references.

[2021-05-07 16:44] bevans2000 commented on #329
I have found the problem and it's a big one. The current Task is not serialised in a saved simulation. Hence when the simulation is reloaded; the driver has no knowledge they were driving a Vehicle. However the Mission & Vehicle still think they are the operator that prevents other from taking over the driving. I have created #334 for this problem.

However the stalled Mission issue can be fixed w

[2021-05-07 23:56] mokun commented on #334
I thought you worked on the need to serialize the `Function` already.

[2021-05-08 02:56] mokun commented on #334
After this [commit](https://github.com/mars-sim/mars-sim/commit/fb45fae18652d37eb11569b44235a2559bd29506), I have the heap size error when saving the sim. The sim also went frozen.

I went and look at he memory bar on the bottom right of the main window. It was 1.29GB when it happened.

[code]

[2021-05-08 03:22] mokun opened #335 "Limiting the size of the heap space"
Q: What can be done to reduce the use of the heap space size ?

When the heap size get near 1.5GB, the autosave feature can crash the simulation.

Below is one scenario of running out of heap space in the stack trace

[code]

Note that I increase the time ratio to 512x.

The memory bar on the bottom right of the main window shows it was 1.29GB when I clicked on the save button and expect the sim t

[2021-05-08 07:52] bevans2000 commented on #334
No because I knew it was not a small problem.

[2021-05-08 07:55] bevans2000 commented on #334
Well I changed nothing to do with the transient fields. I ran a sim up to 11 sols yesterday without problem including auto saves.

[2021-05-08 08:20] bevans2000 commented on #335
The sim should have a mainly consist size. It will create new Task & Mission objects but that is all. This would impact the TaskSchedule class as well. Do we keep references to old completed Missions?
One potential source of growth is the map in LogConsolidated (& the replacement SimLogger). This may be growing continuously and that is a place to investigate. There is no purging or ageing out proc

[2021-05-08 13:01] bevans2000 commented on #335
I ran the simulation for a few minutes and the memory analyser showed these initial "issues":
- Many of the Config objects are still retaining the JDom Document in memory. We should rework these and load the contents into an optimal representation. I have done this for the MalfunctionConfig & BuildingConfig already.
- The LogConsolidated is never releasing cached messages; they are retained foreve

[2021-05-08 17:47] mokun commented on #335
Thanks for investigating this.

Yes I suppose when we move to Java 17, whatever garbage collector it will bundle with will also be more light-weight and probably have more options to play around.

Still it's a great thing to optimize our codebase on our end.

Sure. I'll rework some Config class today.

[2021-05-08 18:40] bevans2000 commented on #335
The rework of Config can be quite an effort but it is better because the internal representation has a smaller memory footprint and us  ore optimal.
A different garbage collector won't help because it will not release active objects. We need to reduce the memory footprint and reduce the memory increase over time.

[2021-05-08 18:41] mokun commented on #335
Absolutely ! the Int array is big. I have wanted to double the resolution of the map but that would mean x4 the Int array.

If we can find a way to incorporate some Java utility for loading map tiles by region, it would be great.

[2021-05-08 18:49] mokun commented on #335
@bevans2000 @Urwumpe

Still our current map tools are inadequate as it doesn't allow some limited form of zooming in and out of an area on Mars.

Even the zooming in/out of a settlement on the Settlement Window is a bit fictitious since it only enlarges/shrinks the svg building icons but not the surrounding Martian soil landscape.

The background tile has rendering artifacts if you zoom in and out

[2021-05-08 19:05] mokun opened #336 "Upgrade map tools"
Currently, we have two map tools, namely, `Mars Navigator` and `Settlement Map` in mars-sim.

`Mars Navigator` uses a large Int[] double array and stay in the memory. It is also loading inefficiently. It provides no zooming ability.

![image](https://user-images.githubusercontent.com/1168584/117550543-d62c2e00-aff5-11eb-8248-502936d0bcc9.png)

`Settlement Map` has a limited form of zooming.

It ra

[2021-05-08 19:13] mokun commented on #335
Let's move our discussions of the map tool to this new [tracker](https://github.com/mars-sim/mars-sim/issues/336).

[2021-05-08 19:17] mokun commented on #336
@bevans2000 @Urwumpe @scud1

Please by all means comment on A to E above.

[2021-05-08 19:21] Urwumpe commented on #336
Well, for storing the map, I would suggest looking into Quad or kd-Trees for that task. Much faster and could also allow lazy loading. Orbiter uses something similar for storing its terrain data for the solar system.

I wouldn't want to go online, since going online also requires online infrastructure to be used. Not very easily done by a small project and TANSTAAFL.

For the settlement map... hon

[2021-05-08 20:15] mokun commented on #335
@bevans2000 @Urwumpe

Besides removing any JDOM objects, I'm also add the keyword transient or static to some data objects in those config file.

Since we are reloading each config file when loading from a saved sim, do we still need to serialize those lists and maps ?

Is there a way to not mess up the object references while at the same time not needing to serialize them ?

I'm also trying to se

[2021-05-08 21:53] bevans2000 commented on #335
Well when I did BuildingConfig the internally created object are not referenced by the Serialized Building; they are only use use to construct new Buildings.
For MalfunctionConfig; the MalfunctionMeta is serializable so when a Malfunction is serialized it's definition is also serialized. When reloaded if the definition of Malfunctions change it should not affect the Malfunctions already active.
Th

[2021-05-08 21:55] bevans2000 commented on #335
I've done some analysis on the memory growth and found these problems:
- Weather, this class is recording the historical weather nearly every pulse which means after 10 minutes running it already created 6884 entries. Each is not that big but the total soon mounts up. I will fix this as it seems to be the old approach to the MarsClock.
- There are a large (and increasing ?) number of Coordinate ob

[2021-05-08 22:21] mokun commented on #253
Closing this.

[2021-05-08 22:21] #253 closed

[2021-05-08 23:18] mokun commented on #335
In case of the Complaint class, it should be a "data" class and doesn't have any mutable members.

Should we switch to using ComplaintType, which is the enum version of a Complaint object, in light of all those potential serialization issues?

See https://stackoverflow.com/questions/18361190/serialization-of-enum-fields-in-java.

Below is from PhysicalCondition class,
[code]
I'll rework `Map<Compl

[2021-05-10 03:55] mokun opened #337 "Not capturing tasks in TaskSchedule"
**Describe the bug/issue**
 - Not all tasks are being captured by TaskSchedule.
 - Schedule Tab in Person Window fail to show some of the tasks that a person did in the past. e.g. a person did exercising but it did not get reported in the Schedule Tab.
- A tasks is NOT shown until after it is compled. It used to be shown in the Schedule Tab as soon as it was recorded in the past.

**Affected Area*

[2021-05-11 01:28] mokun commented on #337
Alice did a lot of things but somehow wasn't captured between 514 and 1000 msols.

We also need to fix the timestamp. At 1000, this person was doing EVA ingress, waiting and requesting to come in but, it said 000 msol.

That's because 1000 msol is the same as 0 msol, numerically speaking.

But it would be too confusing.

For schedule display, we should reserve 0 msol as the beginning of the sol. A

[2021-05-11 05:46] mokun opened #339 "Vehicle Mission Emergency Repair"
**Describe the bug/issue**
 - No Emergency Repair taking place in Vehicle Mission

**Affected Area**
 - Malfunction when traveling to a way-point during a vehicle mission.

**Expected behaviors**
 - Settlers get out of the vehicle to perform emergency repair on the *Air Leak* OR simply turn on emergency beacon for rescue.

**Actual/Observed Behaviors**
 - Members are reading and sleeping and relax

[2021-05-11 06:50] mokun commented on #339
This [commit](https://github.com/mars-sim/mars-sim/commit/e74905a66fba44e7c1e0974630ba0399150416ad) may have fixed the issue of not being able to come out of the vehicular airlock to perform an emergency repair.

[2021-05-11 06:55] mokun commented on #337
Sure.

Q: how would you show the main task and the subtask in one row ?

Say, Alice wants to go to the observatory to propose an astronomy study and do some research.

So she had an EVA egress to get to that building.

Now it's a very good thing to show the EVA egress and what specific phase she's at for debugging purpose.

But, currently the Schedule Tab won't show her "true" intention of doing a

[2021-05-11 06:58] mokun commented on #337
Also, it bugs me that it won't show her "current task".

Can we change it back to recording the task name when it FIRST get started, rather than when it's done ?

[2021-05-11 17:58] bevans2000 commented on #339
Got this covered I think

[2021-05-11 19:04] mokun opened #340 "Modeling of Airlock State and Airlock Operator's responsibility, Vehicular Airlock, Console UI freeze"
Q1: how best should we model and design the airlock operation ?

Currently, there are 4 possible airlock states operationally speaking,

| # | State |
| --- | ---|
|1.| De-pressurized |
|2.| De-pressurizing |
|3.| Pressurizing |
|4.| Pressurized |

The person who is in charge of when the airlock is supposed to be in what state is the *airlock operator*.

Since he's in charge, what he wants to do (

[2021-05-12 19:38] bevans2000 commented on #337
I have made good progress on this issue. I have decided to move the logic of recording Tasks into the `TaskManager` from `TaskSchedule`. This fits better with the logic needed to identify subtasks. The `Task.setPhase` method is the new trigger for recording a Task since it gives a better recording of the activity.
The final point to resolve, is how to identify SubTasks since the setPhase method is

[2021-05-13 05:08] mokun commented on #337
How about we add an entry of subtask to each main task ?

It makes sense to show the subtask for every main task, especially those main tasks that need the sub tasks that require to complete.

Say, a person wants to load a vehicle, he would need to do a few things such as checking and retrieving the available resources. After that he may need to do a EVA egress to the vehicle to drop them off.

So

[2021-05-13 06:21] bevans2000 commented on #337
The reality is that I have not found a top level Task that has anything other Walk sub tasks. The next level down is Airlock takes which generate a massive number of entries; I thin, too many. This is not a log, it is just a record of activities they have performed.
I have an idea to only capturing the start of an Airlock task, not the individual phase changes.

[2021-05-13 19:10] bevans2000 commented on #340
My opinion is the `Airlock` should control advancing the time in the pressuring/depressuring phase. The Operator should just trigger the start of the process; advancing the time once started should not be done via a Task but by the Airlock itself.
Secondly `VehicleAirlock` will still generate a ClassCastException; when the Task code works correctly. They seem to be too different at the moment.

[2021-05-14 06:51] mokun commented on #340
Yes. The change of the airlock state in `Airlock` class. The time It's through calling goToNextState() method by the airlock operator only and not anyone.

Also, the count down of the `remainingCycleTime` is being tracked in `Airlock`
[code]

Right, the airlock operator is the lead here. When he pushes the button, an airlock will comply with the command to pressurize or depressurize.

[2021-05-14 06:52] mokun commented on #340
Can you cut and paste what you see in the stack trace here ?  I haven't run into this exception yet.

[2021-05-14 15:20] bevans2000 commented on #340
Easy to reproduce using the Console

1.  Connect to a Vehicle Parked at a Settlement
2. Create a malfunction; Communication System Failure is a good one.
3. Workers try to repair by entering the Vehicle Airlock but the logic casts the Airlock to the BuildingAirlock. Example of problem code is
[code]
This pattern occurs in numerous places. Here is the Stack Trace.
[code]

[2021-05-15 01:23] mokun commented on #340
oic. Fixing this now.

[2021-05-15 01:29] mokun commented on #340
when I type in, say, "/c Mercury", the console output nothing and frozen. Can you check ?

[2021-05-15 05:41] mokun opened #342 "Cannot deserialize a particular class when loading from a saved sim"
**Describe the bug/issue**
 - Cannot deserialize when loading from a saved sim

**Affected Area**
 - It complains about `PersonTaskManager` having no valid constructor
- The saved sim is corrupted

**Expected behaviors**
 - It should be able to load a saved sim

**Actual/Observed Behaviors**
 - InvalidClassException and the saved sim is rendered useless

**Reproduction (optional)**
 - Save a sim w

[2021-05-15 05:42] mokun commented on #340
@bevans2000

so when I type in, say, "/c Mercury", the console output nothing and frozen. Can you check ?

[2021-05-15 05:44] mokun commented on #342
@bevans2000 ,

This has been happening *sporadically* in recent builds.

I can't pinpoint when it started to happen.

In the latest incident, I was examining why an airlock has issues with depressurization.

So I suspect it may have to do with the airlock.

However, I cannot tell 100% if it does.

[2021-05-15 06:32] mokun commented on #342
@bevans2000

As I looked further down the stacktrace, I saw this line

[code]

Line 678 is in `Simulation` :
			`mars = (Mars) ois.readObject();`

Have you changed `Mars` lately by any chance ?

[2021-05-15 06:34] bevans2000 commented on #340
I have noticed something similiar. If you use the Console when the UI is constructing it freezes. I think it  just be a conflict on the AWT Event thread. I will have a look.
Wait until the UI is fully built and try.

[2021-05-15 06:36] bevans2000 commented on #342
Let me have a look later. Certainly looks related to the #337 changes.

[2021-05-15 11:08] #342 closed

[2021-05-16 06:46] mokun commented on #321
Just for our record, [1](https://github.com/mars-sim/mars-sim/commit/aa53542b41c97acc015ccffc049c725ae26a48a3) and [2](https://github.com/mars-sim/mars-sim/commit/aa53542b41c97acc015ccffc049c725ae26a48a3) fixed two aspects of the malfunction related issues.

[2021-05-16 13:52] bevans2000 commented on #297
Next on the Task rework is do address the TaskMeta classes. Their class types are referenced in many different places in the code. This makes adding a new Task very difficult.
I want to make the logic in Preferences and Shift Task be property driven instead of explicitly using the class names. Also, use the ClassLoader to discover the available TaskMeta subclasses instead of explicitly adding them

[2021-05-17 02:27] mokun commented on #297
But wouldn't it be even better if we only have one class for a task, instead of having two ?

[2021-05-17 07:32] bevans2000 commented on #297
Possibility but at the moment it implements a class Factory pattern which is nice. Also there is a clear separation:
- TaskMeta - is not an simulation object and is essentially a Singleton per Task type. Has clearly defined responsibly of identifying workable Tasks
- Task - Simulation instance object that is "short lived". In some cases complex logic tightly coupled with the Task execution (Mind)

[2021-05-17 18:57] bevans2000 opened #343 "NPE in Console shift command"
**Describe the bug**
For some people the Console `shift` command is generating a NOPE. The problem is actually in the `TaskSchedule.getPreferredShift` which is only returning a single valid ShiftType; the 2nd entry is null.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. From the Console connect to a Person
2.  Run the shift command
3. A NPE may be created

**Expected behavior**
The p

[2021-05-17 22:49] mokun commented on #333
@bevans2000

Recently, I notice that a person sometimes cannot end a task.

I haven't seen a lot of them assisting researchers or proposing/compiling scientific study without any thoughts of going to sleep or eat/drink.

Since then I've tried adding if (!person.isFit()) or if (person.computeFitnessLevel()) to see if a person has high fatigue/hunger, etc. But somehow they don't always work.

This i

[2021-05-18 04:39] mokun opened #344 "Unloading erroneous amount of resources"
**Describe the bug/issue**
 - Attempt to unload a resource (from a mission vehicle after a mission is over) more than what was left over.

**Affected Area**
 - `Mission`, `UnloadVehicleEVA`.

**Expected behaviors**
 - if there is .5 kg of strawberry not consumed and left in the vehicle, then retrieve .5 kg strawberry

**Actual/Observed Behaviors**
 - Trying to retrieve more than the vehicle has

*

[2021-05-18 05:51] bevans2000 commented on #333
Sure. Is the problem just with study proposals and assisted research?

[2021-05-18 06:51] mokun commented on #333
Also, exploring site and mining site and others.

[2021-05-18 06:55] mokun commented on #333
Somehow it doesn't happen all the time consistently. But when it happens, that person was locked in for that task.

[2021-05-18 08:31] bevans2000 commented on #333
Previously I had also seen this but it was due to the Vehicle Airlock problem.

[2021-05-18 15:18] mokun commented on #333
Ok. Then we're basically working on the separation of concern as we speak

[2021-05-18 15:58] bevans2000 commented on #333
Also I think we need to review the `endTask` methods to make sure they all tidy up correctly.

[2021-05-18 19:40] mokun commented on #333
Yes I think so. There's a lot of `endTask` all throughout those Walk* class.

I notice if I remove calling the `endTask` in  one or two places,  the person would freeze and has walking issues.

[2021-05-19 04:57] mokun opened #345 "Fail to retrieve / record the sleep hours after loading from saved sims"
**Describe the bug**
- Fail to record the sleep hours after loading from a saved sim

**Expected behavior**
- `CircadianClock` should record the sleep pattern

**Version**
 - Build 5705

**Additional context**

CircadianClock object was created in Person's initialize() as follows :

[code]

In CircadianClock, the map sleepCycleMap record the recent sleep pattern and the map and sleepTime stores th

[2021-05-19 05:38] mokun commented on #329
@bevans2000

In RoverMission,
[code]
This line doesn't work :

[2021-05-19 18:48] bevans2000 commented on #321
I have resolved this issue by adding a desired repairers count to every combination of WorkType/Malfunction. It is the desired number of repairers as opposed to a hard maximum; this makes it easier to implement and don't have to worry too much about race conditions of 2 People starting the same Malfunction.
The desired value is calculated according to the severity and type of work, i.e. emergency

[2021-05-19 19:04] #321 closed

[2021-05-19 20:21] #343 closed

[2021-05-20 05:47] bevans2000 commented on #329
Good find. I will look into this next.

[2021-05-20 05:58] mokun commented on #345
@bevans2000 ,

Do you think sometimes must have changed how the the two sleep related maps are serialized and thus are no longer available after loading from a saved sim ?

[2021-05-20 06:00] mokun commented on #329
I've switched to using transfer() in this [commit](https://github.com/mars-sim/mars-sim/commit/94deacf4cc094bfbf455e14582921f9c56c76a7a). It seems to work now.

[2021-05-20 07:06] mokun commented on #321
This is great. We put severity into a good use.

I suppose we could do something similar about the *seriousness* of a medical complaint.

[2021-05-20 15:39] bevans2000 commented on #329
So can this issue be closed ?

[2021-05-20 17:13] mokun commented on #329
Let's verify if the unit container is indeed MarsSurface consistently.

There are methods inside `Unit` that got a little crazy. See below.

[code]

Question: we have both containerID, containerUnit, topContainerID, and topContainerUnit. Is there a way to simplify all these ?

In another thread, @Urwumpe used to suggest having a node map to take care of the ownership/dependency or the parent/child

[2021-05-20 22:59] mokun commented on #329
Sure. The justification for having `LocationStateType` around is that most of the time, I'm only interested in knowing the location type of an unit.

e.g. Is Alice inside ? (in a settlement or a vehicle)

I'm not interested in exactly what vehicle she's in.

So I don't need to know her container unit.

Rather, I'm interested in the `LocationStateType` of herself or her container unit.

[2021-05-20 23:05] mokun commented on #329
True. we don't need to store the *topContainerUnit*.

Since it could change from time to time, we could just query it real-time whenever we need to know it.

This is a definition thing.

We can define *MarsSurface* as the top container when a vehicle is on mission, or when a person is doing EVA on the surface of Mars.

Say in future, we allow weather station and other major equipment to be left ou

[2021-05-21 01:21] mokun opened #346 "Isolated buildings (Astronomy Observatory)"
**Feature Request**
- How is a person supposed to get services in isolated buildings such as Astronomy Observatory ?

**Describe what you like to see**
- A person may go to the observatory for the purpose of watching the night sky or proposing an astronomy study.
- A person may sleep there
- A person may eat there
- A person may study *Astronomy* and possibly other scientific subjects
- In case of

[2021-05-21 05:47] mokun opened #347 "No one is digging regolith/ice, No regolith found in Regolith Prospecting"
**Describe the bug**
- The DigLocalRegolith and DigLocalIce task cannot be started
- No regolith is collected in Regolith Prospecting mission

**Expected behavior**
- The settlement generates a demand for regolith and ice. This value is fed into the DigLocalRegolithMeta where the probability for selecting this task is calculated. The higher the demand, the higher the probability.

**Desktop (pleas

[2021-05-21 07:35] bevans2000 commented on #329
The logic of LocationStateType is a specific case of #298

[2021-05-21 10:56] bevans2000 commented on #347
I think your problem is in the `EVAOperation.noEVAProblem method`.
[code]
It return false (being there is a problem) when they have no suit. But this is called in the constructor of DigLocalRegloith before the person has started the EVA so hence they don't have a suit. I would suggest the noEVAProblem should not be called until the EVA has started, i.e. not in the constructor.
Also it should be ca

[2021-05-21 21:09] mokun commented on #347
I see. Thanks for nailing it down. Fixing it now.

[2021-05-22 02:04] mokun opened #348 "Cannot store previous demand Good Value, lightweight Inventory"
**Describe the bug**
- The calculated demand VP is never being cached properly.

**Expected behavior**
- The calculated demand VP should be cached. The next demand calculation will depend on the previous demand.

**Affected Methods/Classes**
- determineAmountResourceGoodValue() in GoodsManager, populateGoods() in GoodsUtil

**Desktop (please complete the following information):**
 - build 5721

**

[2021-05-22 02:05] mokun commented on #348
@bevans2000

In build 5721, I've tried printing out the supply and demand calculation of Regolith in the settlement.

The amount resource demand value (namely, prevDemand) is always zero as follows.

[code]

[2021-05-22 03:20] mokun commented on #348
@bevans2000

Within determineAmountResourceGoodValue() in GoodsManager,

[code]

totalAmountDemand is supposed to be stored into the map but it never does.

[2021-05-22 15:55] mokun commented on #348
@bevans2000 ,

I did some changes to `GoodsManager` and `GoodsUtil` in an attempt to fix the supply and demand of *Regolith*.

Before, the *value* of Regolith is *1.0* at the start of the sim.

It should have been higher, since most of manufacturing are based on things derived from the regolith.

![image](https://user-images.githubusercontent.com/1168584/119232667-e60a3e80-bada-11eb-82c0-fed41daa6

[2021-05-22 16:10] mokun commented on #348
@bevans2000

For now, I modified populateGoods() in GoodsUtil as follows.

It's probably ugly and still not optimized. Feel free to improve whatever area you see fit.

[code]

[2021-05-22 18:38] bevans2000 commented on #348
To be honest the `Inventory` class and the demand calculations are something I know little about. When I was looking at the memory analysis previously the `Inventory` objects consumed a lot of space. Every Unit get the same type of inventory but I am not sure this is optimal. For example, Building always delegates to the Settlement. Does a Bag need the same level of functionality as a Settlements

[2021-05-22 18:55] bevans2000 commented on #329
So for me I see I differently. MarsSurface can never be the top container for a Unit. The top container should be the Unit that resides physically on the Mars surface. So for a Vehicle or Person outside the Container and TopContaier would  be null. A Vehicle parked in a Garage, the Container would be the  Building and TopContainer would be the Settlement.
So the TopContainer is the parent or grand

[2021-05-23 04:29] mokun opened #349 "Cannot leave a vehicle parked in the garage after the mission is over"
**Describe the bug**
- Aimar is stuck inside a rover parked in a garage. The mission was over and the vehicle came back and everything got unloaded successfully, with the exception that Aimar was still inside. The other member Mia didn't get stuck.

**Expected behavior**
A mission is over. The vehicle came back and got all the stuff unloaded. The members should get off the vehicle as well and be f

[2021-05-23 04:51] mokun commented on #349
Note: it was last reloaded on sol 10 as follows :

[code]

[2021-05-23 15:26] bevans2000 commented on #329
I'm going to tackle the LocationStateType changes as part of #298

[2021-05-23 18:46] mokun commented on #329
Things can get really out of hand when we try to express the concept of ownership with the container and top container construct.

I used to put together a matrix to tell that for each type of units, namely, a person, an equipment (EVA suit, Gas Canister), a vehicle, a robot, etc.

Q: why are we treating a person differently from a vehicle ? especially when a person is inside the settlement or go

[2021-05-23 18:52] mokun commented on #348
Yes it's true that the `Container` class doesn't serve a whole lot of purpose, other than holding gas, food, regolith, ice, minerals, etc.

So, can we convert the Bag, Large Barge, Gas Canister, Barrel, Specimen Box, etc. to a better and more efficient architecture for storing resources ?

[2021-05-23 19:30] bevans2000 commented on #349
If possible use the console and connect to Aimar. Go to expert mode and run the 'work' command. This will show the Task cache. I suspect there nothing to do because Aimar is report as not un the Settlement which restricts available Tasks.

[2021-05-23 19:56] mokun commented on #298
@bevans2000 ,

When it comes to location state definition (thus relating to identifier), can you take a look at @Urwumpe's comment on https://github.com/mars-sim/mars-sim/issues/134#issuecomment-753241536 since he talks about different tree implementation ?

@Urwumpe , are you still working on that ?

[2021-05-23 20:00] mokun commented on #349
Yes I do use console to look at Aimar's location.

It said he's indeed in Garage 1 of that settlement.

So obviously, both Aimar and Mai came back home successfully from the mission.

It's just that Aimar couldn't get out of the garage and/or the rover.

Many other stats are also erroneous. Some are probably pre-existing and have nothing to do with the location state issue.

[2021-05-23 20:23] bevans2000 commented on #329
Yeap far point on the MarsSurface and other planets/outer space.
But at the moment it feels that the logic of containment and is settlement is spread around the various u its. This feels wrong because it should be based on where a Unit resides in term of the container. The right approach maybe to set out the different combinations as a table making the logic generic for all Units instead of each t

[2021-05-23 22:47] mokun commented on #329
@bevans2000

Sure. Having some unit tests will validate how well things work methodically.

I just cleaned up a few location state related methods and found some issues with them.

I also deleted a lot of old codes that were commented away with "//".

At least now you have a clean set of codes to work from.

[2021-05-24 16:11] mokun commented on #348
@bevans2000 ,

@Urwumpe made a point about the use of flywheel pattern for these containers on this [post](
https://github.com/mars-sim/mars-sim/issues/132#issuecomment-439026998).

[2021-05-24 17:18] bevans2000 commented on #345
I could not find anything wrong with the sleep recording. However I have cleaned-up the code and removed the need to hold a back pointer to the parent Person object.. This may cause a serialization issue. I have moved the recording of the sleep time over to the DataLogger pattern since this simplifies the recording and daily roll over.

[2021-05-24 17:23] bevans2000 commented on #329
I have create a Unit Test for the containment. 4fb20b3994673c16d1759b7aa1c37ae01bbee090
I committed this under #299 as that originally addressed the distributed logic.

[2021-05-24 17:25] bevans2000 commented on #345
7f62e4fae2be07d9463aaf77594f048cef5638f8

[2021-05-24 17:58] bevans2000 commented on #348
Yeap Flyweight pattern is always good. We use it now in the Malfunction area where the Malfunction config are shared across all the Malfunction instances.
One way to look at this is the Equipment object are good at being Units; it makes them easier to control. But the Unit class has become quite large but Equipment are generally small because there are a lot of them. I think we need 2 implementati

[2021-05-25 04:10] mokun commented on #132
@bevans2000 @Urwumpe
I was reminded that in every strategy game in that there's always a graph showing how much each resource would go up and down over time.

We could do something similar if not the same.

Anyway I went ahead and revised the codes for generating some stats in this [commit](
https://github.com/mars-sim/mars-sim/commit/4d300aa956bcc0ae053dd69d814e2702bc05e5f8).

For now, it outputs

[2021-05-25 21:12] bevans2000 commented on #297
I have nearly completed the rework of `MetaTask`. The key goal of the changes is to reduce the coupling between the MetaTask subclasses and other core classes. The task subclasses should not be a dependency for other packages, it should be at the top of the hierarchy. This makes it easy to add new Tasks in the future.
MetaTasks are now self contained so each defines how it's selected by the TaskMa

[2021-05-26 07:18] mokun commented on #297
Wow this involves a lot of files.

Yes the less we have to change when adding new tasks, the better !

[2021-05-26 09:14] bevans2000 commented on #297
Yes I was nervous with so many changes which is why I'm working on a branch. Been running long simulations recently to see if any problems come up.
The bulk of the changes are very small due to change in `Mind` to use `JobType` instead of `Job`. This makes the code more effecient using an enum also removes many cases of logic based on instance of or even equals on the Job name !!.

A further stage

[2021-05-26 18:25] bevans2000 commented on #297
Here is the output of the analysis I have done on influencers for each MetaTask. I am proposing to create some JobGroups, e.g. Scientists, to make life easier to define preferred Jobs.
[tasks.ods](https://github.com/mars-sim/mars-sim/files/6548875/tasks.ods)

[2021-05-30 17:38] mokun opened #353 "Mineral Exploration and collecting rock samples"
**Describe the bug**
There are irregularities occurring in a `Mineral Exploration`

**Desktop**
 - Build 5762

**Screenshot 1**
![image](https://user-images.githubusercontent.com/1168584/120113817-17b18400-c131-11eb-94b1-2d999b389bdf.png)

**Expected behavior**

1. The Mission Tool 'Info' tab should tell the exact amount of rock samples, minerals or ores being collected from a mission.
2. The Rove

[2021-05-31 07:16] bevans2000 commented on #348
Is this assigned to me to look at ` Inventory` ? I should have some spare time later in the week.

[2021-05-31 07:48] mokun commented on #348
Yes. Please do whatever needed to simplify/optimize Inventory as discussed !

[2021-05-31 22:38] mokun commented on #353
@bevans2000 ,

I've just added a new `resourceCollected` map in Settlement in this [commit](https://github.com/mars-sim/mars-sim/commit/e52f9646d2407b3670ed0c2509e973ccf17e1ac1) for recording resources being collected by the citizens of a settlement.

In particular, I applied it toward the `rock samples` collected.

Note that it got *consumed* during a scientific study.

May be we can also use the

[2021-06-01 06:43] bevans2000 commented on #353
Are the rock samples stored in the Inventory class as well?

[2021-06-01 10:13] bevans2000 commented on #348
Ok. I think a good step would be to identify which Units can be assigned to an `Inventory`, e.g. those that can move, Person, Robot, Equipment. It is not logical to assign a `Settlement` to an Inventory BUT it could be possible. Therefore I think we should create a new Unit subclass to represent Units that can move to complement the `Structure` class, i.e. `MobileUnit`. This would also in the futu

[2021-06-01 11:00] bevans2000 commented on #348
The other thing is the Inventory itself. It is a very complex class; way too complex. There are some big question about what role it plays:
# There are 2 ways to reference resources; either an int or an AmountResource which means there are duplicate methods all over the place. We should have a single way to reference resources throughout the code base. Clearly the `AmountResource` class would make

[2021-06-01 17:56] mokun commented on #353
Yes. They were first carried within a `Specimen Box` after being excavated.

So the rock samples are essentially in the inventory of a `Specimen Box`

Next, a person was carrying this box into a `Vehicle`.

So the `Specimen Box` is inside the inventory of a person.

Next, the person got inside a vehicle.

This way there's a chain of units within units via the use of the a number of Inventory class

[2021-06-01 18:00] mokun commented on #348
Let's add Mars, Moon, Earth as an Unit of some sorts now, rather than later.

This would give us the provision in near future to send human or cargo between these planetary bodies easily.

[2021-06-01 18:06] mokun commented on #348
Yes `MarsSurface` can be a misnower. I know it's not logically possible to define the coordinates of a `MarsSurface`, unlike a `Settlement` or any other units that has a set of coordinates in x and y (or phi and theta)

But at some point in future, we may divide the surface of Mars into zones. In one thread, @Urwumpe talked about North and South hemisphere, etc..

It would be handy if mars-sim gro

[2021-06-01 18:12] mokun commented on #348
Yes. Back in version 3.08, there were methods based on `AmountResource` or `ItemResource` only. Also, no demand/supply calculation until later.

I've wanted to add the use of integer identifiers, instead of the object references, to track both `AmountResource` or `ItemResource`, so that they become portable across simulation sessions after serialization.

But it turns out at a few level down, it d

[2021-06-01 19:57] bevans2000 commented on #348
Basically it's a nightmare. I've had 2 attempts to rework it but it is so intertwined. Why are the ItemResources & AmountResources kept separate? I don't want to say re-write it but it might need a rethink along these lines:

1. Just store any type of Resource in a single "store".
2. Do not use integer as keys as magic numbers is a very bad anti-pattern.
3. Supply & Demand calculations are done au

[2021-06-01 19:58] bevans2000 commented on #348
Or of course we do nothing.

[2021-06-01 20:09] bevans2000 commented on #353
Chain of units makes perfect sense. I was just wondering why the rock amounts need recording in the inventory and a new map in the Settlement.

[2021-06-01 20:13] mokun commented on #348
May be they wanted to optimize ItemResources & AmountResources separately ?!

Oh. How do you handle mismatch of object references after serialization ?

Yes Inventory class saves the supply & demand info on each storage and retrieval of a resource.

But there's no need of calculating the supply & demand on a resource in each transaction.

It doesn't need it until GoodsManager needs to calculate th

[2021-06-01 20:29] mokun commented on #353
Currently, as strange as it may sound, I found out that some rock samples actually get *consumed* while being studied in a vehicle lab.

So these rock samples never get showed up in a settlement for storage.

There needs to be a way to capture the statistics of excavating the rock samples.

The purpose of the rock samples is that a person may use it to continue the field study in his field of scie

[2021-06-03 21:02] mokun opened #354 "Validating the latitude and longitude of a settlement coordinate"
**Describe the bug**
- The Site Editor (aka Simulation Config Editor) does not correctly validating the latitude and longitude of a settlement to 2 decimal places.
- The `New Arriving Settlement` choice when creating a brand new transport mission in the `Resupply Tool` would always lead to a failed the latitude and longitude coordinate test and thus cannot create a new settlement.

**Expected beha

[2021-06-03 21:12] mokun commented on #354
This is in response to this discussion [post](https://github.com/mars-sim/mars-sim/discussions/304#discussioncomment-600095).

[2021-06-03 23:15] mokun commented on #354
@bevans2000 ,

When I create a *new Arriving Settlement* using the `Resupply Tool`, the new settlement is created but it shows exceptions in the threads and the new settlers, new bots, new vehicles never get updated.

Can you find out what goes wrong ?

![image](https://user-images.githubusercontent.com/1168584/120723517-c2ee7000-c486-11eb-8eaf-d55524aea3d3.png)

[2021-06-04 05:34] bevans2000 commented on #354
Sure I'll have a look

[2021-06-04 16:47] bevans2000 commented on #354
I can sort this I think. Basically there are 2 issues:

1. The new Settlement is registered with the UnitManager before it is initialised
2. UI reacts to UNIT Event and generates a null pointer because the Unit is not fully populated.

The root cause is the Settlement (& Units in general) register themselves with the UnitManager during their constructor. This is a bad pattern; in theory you should

[2021-06-04 18:52] bevans2000 commented on #354
Committed some changes to resolved this problem. Uncovered an issue where Units are registering themselves with the UnitManager before they are fully initialised.

[2021-06-06 06:54] mokun commented on #305
Seems like we've finally managed to clear the bugs that trap the airlock occupants. Let me know if you can run the simulation for a couple hours non-stop without any airlock issues or not. And I'll close this thread in a few days.

[2021-06-06 07:00] mokun commented on #282
@Urwumpe ,

Yes we should further look into refining the mission planning aspects and create some kind of files for each file that's based on a standard template.

Perhaps we could talk about designing and scoping out mission resource on a new thread or in the discussion page.

[2021-06-06 07:01] mokun commented on #282
Looks like in the latest build 5780, at least we no longer encounter any settlers getting trapped and/or suffocating from loading or unloading vehicle resources.

Will close this thread in a few days unless anyone found some related bugs.

[2021-06-06 07:03] mokun commented on #347
Resolved. Close this now

[2021-06-06 07:03] #347 closed

[2021-06-06 07:06] mokun commented on #333
Now that we have methods for checking a person's fitness during those scientific study phases or exploring site and collecting resources phases, we no longer have the issue of not being able to stop and take a break.

Close this now.

[2021-06-06 07:06] #333 closed

[2021-06-06 07:07] mokun commented on #331
Resolved. Closing this.

[2021-06-06 07:07] #331 closed

[2021-06-06 07:10] mokun commented on #329
@bevans2000 ,

Let's continue to explore how to design the container and child/parent node in the discussion page, rather than the issue page.

We should close this thread unless you see something you want to fix.

[2021-06-06 07:11] mokun commented on #245
This issue is overcome by other issues, a majority of which seem to have been resolved lately. Close this now.

[2021-06-06 07:11] #245 closed

[2021-06-06 07:12] mokun commented on #259
We've since patched how malfunctions work. Close this now.

[2021-06-06 07:12] #259 closed

[2021-06-06 07:15] bevans2000 commented on #329
I agree

[2021-06-06 07:15] #329 closed

[2021-06-06 07:22] mokun commented on #258
@shirishag75

I'm changing the tag of this issue as `improvement`, rather than a `bug` that we need to resolve.

When there are multiple settlements, may be there's a better way in the log to show which settlement the person is coming from.

There is a number of legit reasons as to why a person can't get into a rover. e.g. The vehicular airlock is not functioning, the vehicle is full, etc.

But in

[2021-06-06 07:25] mokun commented on #194
This thread is long and we've discussed and worked on a few things. We should close it now and continue our dialog in the discussion page under a new thread.

[2021-06-06 07:25] #194 closed

[2021-06-06 07:28] mokun commented on #185
This is no longer a bug since we have identified the cause and we can't do anything for it right now.

If weblaf begins to release version 2.0, the exception statements will go away.

[2021-06-06 07:32] mokun commented on #138
@Urwumpe

Our solid or liquid wasting recycling modeling is only half done.

Obviously, it would be a lingering issue as human begins to show up on Mars.

@bevans2000 ,

If you're interested in further modeling what to do with the different type of wastes we have defined, let us know.

May be we can have them built waste storage shed to hide them.

[2021-06-06 13:07] bevans2000 commented on #297
Planned changes done

[2021-06-06 13:07] #297 closed

[2021-06-06 13:08] bevans2000 commented on #354
Can we close this now?

[2021-06-06 13:23] bevans2000 opened #355 "Optimise UnitManager Unit"
**Describe the bug**
Each Unit is stored twice, once for the specific type and once for the general Unit. Also there are duplicate methods on the different Unit types.
The `getUnitById` method is heavily used and it could be optimised.

**Expected behavior**
The type of Unit should be embedded in the UnitIdentifier since this will allow the correct Unit Map to be identified very efficiently.
The g

[2021-06-06 15:28] bevans2000 commented on #355
These changes can go further and move the equals & hashcode methods into the base class since the identifier will be guaranteed to be unique across ALL Units.
MarsSurface is an problem because it is treated as a singleton but referenced in multiple ways, by fixed ID, by static reference and by instanceof. Probably for Planet Units; the identifiers should be fixed and reserved; maybe a handled by a

[2021-06-06 17:16] mokun commented on #354
oic.

[2021-06-06 17:16] mokun commented on #354
Yes. Closing this.

[2021-06-06 17:16] #354 closed

[2021-06-06 17:41] mokun opened #356 "Replace the console driven main menu with swing UI-based main menu"
We have been relying upon the [console](https://github.com/mars-sim/mars-sim/wiki/Mars-Net-Console) terminal for configuring the mars-sim before starting the simulation.

No doubt, in Headless Edition, we will continue to make use of the console as the major method for interaction.

In any cases, setting up [Remote Connection]( https://github.com/mars-sim/mars-sim/wiki/Remote-Console-Connection) v

[2021-06-06 18:13] bevans2000 commented on #305
I see People aborting Tasks (not always EVA) but that might just be because they are genuinely tired.

[2021-06-06 18:14] mokun commented on #355
That'll be really nice for mars-sim to become [multi-planetary](https://www.liebertpub.com/doi/10.1089/space.2018.29013.emu) soon 😃

[2021-06-06 18:38] bevans2000 commented on #355
Going to widen the scope to remove anything non-Unit from the UnitManager to correctly let it have the responsibility of managing Units.
The methods to support Commander & Unit Names will be relocated to a more appropriate location.

[2021-06-06 19:39] mokun commented on #345
@bevans2000 ,

Somehow, the sleep statistics is still NOT being recorded or loaded properly into the Health Tab in Person Window.

![image](https://user-images.githubusercontent.com/1168584/120937757-17cafa00-c6c4-11eb-9cfd-669e0e796a9a.png)

It shows that between sol 1 to sol 5, there are zero sleep hours. Nothing is recorded after sol 5.

[2021-06-06 20:00] mokun commented on #345
And there is a separate issue with the time statistics.

It shows wrong values in the Time Tool when the sim is supposed to be on pause. See below.

![image](https://user-images.githubusercontent.com/1168584/120938325-f6b7d880-c6c6-11eb-9853-21ee60f37bbc.png)

[2021-06-06 21:40] bevans2000 commented on #345
Ok, so you let the initial sim run for over 5 sols ? I can have a look.

[2021-06-06 22:29] mokun commented on #345
Yes the simulation was just over one month.

I ran into issues with the statistics on the Time Tool.

Guess it has to do with the pause state and I've made an attempt to fix it in that [commit](https://github.com/mars-sim/mars-sim/commit/72579b69ed93547b5788ec5a7c66ef06fa19db11).

Since then, whenever there is an exception on something, it would blame it on the clock listener because of the change

[2021-06-06 23:01] mokun commented on #353
It looks like the Mineral Exploration mission undertaken by Rover Princess was able to collect 23,768 kg of Rock Samples. It's a little too much.

![image](https://user-images.githubusercontent.com/1168584/120942821-2f17e080-c6e0-11eb-976e-7d72d6b016bc.png)

[2021-06-06 23:42] mokun commented on #321
@bevans2000

Can you check why the `RepairEVAMalfunction` and `RepairMalfunction`  would call Malfunction's leaveWork() multiple times for the each person ?

[code]

[2021-06-07 03:57] mokun opened #357 "Not a collaborator in a scientific study, Sorting in Science Tool, Task.endTask"
**Describe the bug/issue**
 - Cannot return null or having IllegalArgumentException incessantly in getCollaboratorStats() in `ScientificStudy`

**Affected Area**
- When looking for collaborators in a Scientific Study in `AreologyFieldStudyMeta` and `PerformLaboratoryExperimentMeta`.

**Expected behaviors**
 - Should not ask if the isCollaborativeResearchCompleted() is true when that person is not

[2021-06-07 04:33] mokun commented on #357
@bevans2000 ,

btw, I'm on sol 36 when it cannot proceed further because of this bug.

[2021-06-07 05:19] bevans2000 commented on #321
Looks like abandoning all tasks is causing the problem. I have an idea so I will look later.

[2021-06-07 16:34] bevans2000 commented on #345
It is nothing to do with how the data is saved. It is a bug in the UI code not correctly using the data. Only the last N sols are available.

[2021-06-07 16:34] #345 closed

[2021-06-07 16:46] bevans2000 commented on #357
Hmm, no obvious reason why this should occur. Could these people have died? There is an edge case where dead collaborators are not cleared correctly.
I tried to run a long simulation but has a problem with 4 people being stuck in an Airlock and people outside died waiting to get in.
I will have another look into it.

[2021-06-07 16:59] mokun commented on #357
They didn't die. They are pretty healthy and their Mind is functioning and initially new tasks and missions. That's why that meta mission or meta task are called.

[2021-06-07 17:02] bevans2000 commented on #321
This is actually working as expected I believe. The People are abandoning the Tasks so they leave the repair but it still needs people so they comes back round again. It's the same old walking/airlock problem.